@import '../variables';

@import '../sections/header';
@import '../sections/footer';

body {
  background-color: var(--offwhite-color);
  color: var(--font-color);
  font-family: var(--font-sans-serif);
  font-size: 16px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

blockquote {

}

h1, h2, h3 {

}

h4, h5, h6 {

}

h2.section-header {
  font-family: var(--font-serif);
  font-size: 40px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -1px;
  margin: 0;
}

h3.section-subheader {
  font-family: var(--font-serif);
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  line-height: 1.4;
}

p {
  line-height: 1.5;
}

// Reuseable things.

h4.caps-label {
  font-size: 14px;
  letter-spacing: 1.68px;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

a.cta-button,
button.cta-button {
  background-color: var(--white-color);
  border-radius: 30px;
  color: var(--font-color);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 17px 69px 17px 32px;
  text-decoration: none;
  text-transform: uppercase;

  &.cta-button_dark {
    background-color: var(--primary-brand-color);
    color: var(--white-color);
  }
}

[v-cloak] {
  display: none;
}