@import '../variables';

@import '../sections/promo-banner';
@import '../sections/header';
@import '../sections/footer';

body {
  background-color: var(--offwhite-color);
  color: var(--font-color);
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-base);
  margin: 0;
}

* {
  box-sizing: border-box;
}

blockquote {

}

h1, h2, h3 {

}

h4, h5, h6 {

}

h2.section-header {
  font-family: var(--font-serif);
  font-size: 36px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -1px;
  margin: 0;

  @include tablet-portrait {
    font-size: 40px;
  }
}

h3.section-subheader {
  font-family: var(--font-serif);
  font-size: var(--font-size-p-lg);
  font-style: italic;
  font-weight: normal;
  line-height: 1.4;

  &.section-subheader_normal {
    font-style: normal;
  }
}

p {
  line-height: 1.5;
}

button {
  font-family: var(--font-sans-serif);
}

// Reuseable things.

h4.caps-label {
  font-size: 14px;
  letter-spacing: 1.68px;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

a.cta-button,
button.cta-button {
  appearance: none;
  background-color: var(--white-color);
  border: 0;
  border-radius: 30px;
  color: var(--font-color);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 17px 69px 17px 32px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  &.cta-button_dark {
    background-color: var(--primary-brand-color);
    color: var(--white-color);
  }

  .cta-arrow {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;

    &_white {
      display: none;
    }
  }

  &_dark {
    .cta-arrow {
      display: none;

      &_white {
        display: block;
      }
    }
  }
}

[v-cloak] {
  display: none;
}

.fill-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.caps-header {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.header-underline {
  background-color: var(--primary-brand-color);
  height: 2px;
  margin: 20px auto;
  width: 85px;
}

.flickity-prev-next-button {
  appearance: none;
  background-color: transparent;
  background-size: 12px 20px;
  border: 0;
  cursor: pointer;
  height: 20px;
  width: 12px;
  padding: 0;
  position: absolute;
  bottom: 0;

  &.previous {
    left: 50%;
    transform: translateX(-300%);
  }

  &.next {
    right: 50%;
    transform: translateX(300%);
  }

  &:disabled {
    opacity: .4;
  }
}
