<div class="cart" id="vuecart">
  <div class="cart-header">
    <h2 class="section-header">Your Cart</h2>
    <h3 class="section-subheader">${getItems}</h3>
  </div>

  <div class="cart-body">
    <template v-for="(item, index) in cartItems">
      {% render 'cart-item' %}
    </template>
  </div>

  {% render 'cart-bottom' %}
</div>
