{% section 'swatches' %}

<div class="page-hero">
  {% assign header = 'Shop ' | append: collection.title %}
  {% render 'page-hero', header: header, body: collection.description, background_color: 'blue' %}
</div>

<div class="collection two-across" id="collection-page">
  {% paginate collection.products by 9999 %}
    <div class="collection__product-grid" id="collection">
      {% for product in collection.products %}
        {% render 'product-grid-item' product: product %}
      {% else %}
        <p>no matches</p>
      {% endfor %}
      {% section 'collection-menu' %}
    </div>
    {% render 'pagination' paginate: paginate %}
  {% endpaginate %}
</div>
