<div class="page-hero page-hero_contact">
  <div class="page-hero__content">
    <h1 class="page-hero__title">{{ page.title }}</h1>
    <div class="page-hero__body">{{ page.content }}</div>
  </div>
  <div class="page-hero__form">
    {% form 'contact' %}
      <div class="form__errors">
        {{ form.errors | default_errors }}
      </div>

      <input
        type="text"
        id="ContactFormName"
        name="contact[name]"
        placeholder="Name"
        aria-label="Name"
        class="{% if form.errors contains 'author' %}error{% endif %}"
      >

      <input
        type="email"
        id="ContactFormEmail"
        name="contact[email]"
        placeholder="Email"
        aria-label="Email"
        class="{% if form.errors contains 'email' %}error{% endif %}"
      >

      <textarea
        rows="4"
        id="ContactFormMessage"
        name="contact[body]"
        placeholder="Message"
        aria-label="Message"
        class="{% if form.errors contains 'body' %}error{% endif %}"
      ></textarea>

      <input type="submit" value="submit">

      {% if form.posted_successfully? %}
        <p class="form--posted-successfully">Thank you for contacting us.</p>
      {% endif %}

    {% endform %}
  </div>
</div>

{% section 'subscribe-callout' %}
