<div class="page-hero">
  {% render 'page-hero', header: page.title, body: page.content, background_color: 'gray' %}
</div>

{% section 'page-reviews' %}

{% section 'press' %}
{% section 'icons-list' %}
{% comment %}{% section 'products-slider' %}{% endcomment %}
{% section 'subscribe-callout' %}
{% section 'products-slider' %}
