{% section 'product-hero' %}
{% section 'swatches' %}

<div id="size-popup" class="popup" :class="{ active: sizePopupIsOpen }">
  <div class="popup__background" @click="closeSizePopup"></div>
  <div class="popup__inner">
    <button id="popup__close-button" class="popup__close-button" @click="closeSizePopup">{% render 'svg-close' %}</button>
    {% section 'sizing-chart' %}
  </div>
</div>

{% section 'size-options' %}

<div id="weight-popup" class="popup" :class="{ active: weightPopupIsOpen }">
  <div class="popup__background" @click="closeWeightPopup"></div>
  <div class="popup__inner">
    <button id="popup__close-button" class="popup__close-button" @click="closeWeightPopup">{% render 'svg-close' %}</button>
    {% section 'weight-chart' %}
  </div>
</div>

{% section 'product-features' %}
{% section 'product-benefits' %}
{% section 'product-suggestion' %}
{% section 'product-steps' %}
{% section 'product-detail' %}
{% render 'product-full-bleed-media', product: product %}
{% section 'products-slider' %}
{% render 'yotpo-reviews' product: product %}
