<div class="customers login-page">
  {% form 'recover_customer_password' %}
    {% if form.posted_successfully? %}
      <p class="status success">We've sent you an email with a link to update your password.</p>
    {% endif %}

  {% endform %}

  {% form 'customer_login', class: "customer-login form" %}
    {% if form.errors %}
      {{ form.errors | default_errors }}
    {% endif %}

    <h1>Login</h1>

    <label for="email">Email Address</label>
    <input id="email" type="email" name="customer[email]" placeholder="Email" />

    <label for="password">Password</label>
    <input id="password" type="password" name="customer[password]" placeholder="Password" />

    <div class="bottom">
      <a href="#recover">Forgot your password?</a>
      <input type="submit" value="Log In" />
    </div>

    <p>Don't have an account? <a href="/account/register">Register</a>.</p>

    {% endform %}



  {% form 'recover_customer_password', class: "recover-customer-password form" %}
    <h1>Reset Your Password</h1>

    {% if form.errors %}
      <p class="status error">{{ form.errors | default_errors }}</p>
    {% endif %}


    <label for="recover-customer-password--email">Email Address</label>
    <input id="recover-customer-password--email" type="email" name="email" placeholder="Email" />

    <input type="submit" value="Submit" />
    <a href="/customer/login" id="customer_cancel_recover_customer_password">Cancel</a>
  {% endform %}
</div>
