{% form 'create_customer', class: "create-customer form" %}

{{ form.errors | default_errors }}

<label for="first_name">First Name</label>
<input id="first_name" type="text" value="" name="customer[first_name]" />

<label for="last_name">Last Name</label>
<input id="last_name" type="text" value="" name="customer[last_name]" />

<label for="email">Email Address</label>
<input id="email" type="email" value="" name="customer[email]" />

<label for="password">Password</label>
<input id="password" type="password" value="" name="customer[password]" />

<div class="bottom">
  <button class="full button" type="submit" value="Create">Register</button>
  <p>Already have an account? <a href="/account/login">Log in</a>.</p>
</div>


{% endform %}
