@import '../responsive';

.chart-section {
  padding: var(--padding-v-desktop) 0 100px;
}

.chart-section__inner {

}

.chart-section__intro {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 var(--gutter);
  text-align: center;
  width: 650px;
}

.chart-section__content {

}
