@import '../responsive';

.chart-section {
  padding: var(--padding-v) 0;
}

.chart-section__inner {

}

.chart-section__intro {
  margin: auto;
  padding: 0 var(--gutter);
  text-align: center;
  max-width: 650px;
}

.chart-section__content {

}
