@import '../responsive';

.collection-list {
  overflow: hidden;
  text-align: center;

  &.collection-list-background--blue {
    background: var(--secondary-brand-color);

    :root.color-scheme--dark & {
      background-color: var(--primary-brand-color);
      color: var(--white-color);
    }
  }
}

.collection-list__inner {
  margin: var(--padding-v-mobile) auto;
  max-width: var(--page-width);
  overflow: hidden;

  @include tablet-portrait {
    margin: var(--padding-v-desktop) auto;
  }
}

.collection-list__header {
  margin-bottom: 44px;
  padding: 0 var(--gutter);

  @include tablet-portrait {
    margin-bottom: 72px;
  }
}

.collection-list__items {
  box-sizing: border-box;
  overflow-x: auto;
  padding: 0 var(--gutter) 70px;
  white-space: nowrap;
  outline: 0;
  position: relative;

  @include tablet-landscape {
    display: flex;
    padding: 0 var(--gutter-half);
  }

  .item-wrapper {
    display: inline-block;
    padding: 0 8px;
    width: 100%;
    
    @include tablet-landscape {
      display: block;
      flex: 0 0 auto;
      padding: 0 var(--gutter-half);
      flex: 0 0 320px;
      width: 25%;
    }
  }
}

a.collection-list__item {
  background-color: var(--primary-brand-color);
  display: block;
  padding-bottom: 100%;
  position: relative;

  .cta-button {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }

  .collection-list__hover-image {
    opacity: 0;
    transition: opacity var(--slow);
  }

  &:hover {
    .collection-list__hover-image {
      opacity: 1;
      transition-duration: var(--fast);
    }
  }
}
