@import '../responsive';

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.comparison-chart {

  .cta-button_comparison {
    transition: background-color var(--slow);
    outline: 0;

    &:focus,
    &:hover {
      background-color: var(--primary-brand-color);
      color: var(--white-color);
      transition-duration: var(--fast);

      .cta-button_icon:after,
      .cta-button_icon:before {
        background-color: var(--white-color);
      }
    }
  }

  .cta-button_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;

    &:after,
    &:before {
      background-color: var(--primary-brand-color);
      height: 2px;
      width: 10px;
      content: '';
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      transition: transform var(--slow);
    }

    &:after {
      transform: translateY(-50%) translateX(-50%) rotate(90deg);
    }
  }

  &.comparison-chart_open {
    .cta-button_icon {
      transform: translateY(-50%) rotate(45deg);
    }
  }
}

.comparison-chart__intro {
  padding: var(--padding-v-desktop) var(--gutter) 0;
  text-align: center;
}

.comparison-chart__top {
  background-color: var(--secondary-brand-color);
  padding-top: 24px;
  border-bottom: 1px solid var(--primary-brand-color);
  position: relative;
  text-align: center;

  button {
    border: 1px solid var(--primary-brand-color);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.comparison-chart__main {
  height: 0;
  overflow: hidden;

  .comparison-chart_open & {
    border-bottom: 1px solid var(--primary-brand-color);
    height: auto;
    padding-top: 24px;
  }

  .comparison-chart_page & {
    height: auto;
    padding-top: 24px;
  }
}

.comparison-chart__wrapper {
  animation: 800ms fadeUp;
  display: none;
  margin: 80px auto;
  max-width: 100%;
  padding: 0 var(--gutter);
  width: var(--page-width);

  .comparison-chart_open &,
  .comparison-chart_page & {
    display: block;
  }

  @include small-viewport {
    padding: 0 8px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td:not(:first-child) {
    text-align: center;
  }

  td, th {
    border-bottom: 1px solid var(--primary-brand-color);
    font-size: 16px;
    line-height: 1.5;
    padding: 32px 12px;

    @include small-viewport {
      font-size: 14px;
    }
  }

  tr:last-child td {
    border-bottom: 0;
  }

  th {
    font-size: 24px;
    font-weight: bold;

    @include small-viewport {
      font-size: 16px;
    }
  }

  td:nth-child(2),
  th:nth-child(2) {
    background-color: var(--primary-brand-color);
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color);
    width: 180px;

    @include small-viewport {
      font-size: 16px;
    }
  }

  td:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    @include small-viewport {
      font-size: 16px;
    }
  }

  td:nth-child(1),
  th:nth-child(1) {
    font-weight: 500;
    width: 260px;

    @include small-viewport {
      font-size: 12px;
    }
  }

  td:nth-child(4),
  th:nth-child(4) {
    width: 160px;
  }
}