.faq-hero {
  background-color: var(--secondary-brand-color);
  overflow: hidden;
  padding: var(--header-height) var(--gutter);
}

.faq-hero__title {
  margin: 0;
  text-align: center;
}

.faq-hero__description {
  box-sizing: content-box;
  margin: auto;
  max-width: 648px;
  text-align: center;

  &:empty {
    display: none;
  }
}
