@import '../responsive';

@import '../snippets/email-form';

.footer {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  padding: 66px 0 48px;

  a {
    color: inherit;
    text-decoration: none;
  }
}



.footer__logo {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 var(--gutter) 50px;
  width: var(--page-width);
}

.footer__inner {
  margin: 0 auto;
  max-width: 100%;
  width: var(--page-width);

  @include tablet-landscape {
    display: flex;
    justify-content: space-between;
  }
}

.footer__main {
  padding: 0 var(--gutter);
}

.footer__aside {
  padding: 0 var(--gutter);
}

.footer__columns {
  @include tablet-portrait {
    display: flex;
  }

  .parent-link-wrapper {
    margin-bottom: 40px;
    width: 100%;

    @include tablet-portrait {
      margin-bottom: 0;
      width: 200px;
    }

    .parent-link {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.68px;
      line-height: 1;
      margin: 0;
      text-transform: uppercase;
    }

    .child-links {
      list-style: none;
      margin: 20px 0 0 0;
      padding: 0;
    }

    .child-link  {
      display: block;
      margin-bottom: 8px;
    }
  }
}



.footer__col {
  margin-bottom: 40px;
  width: 100%;

  @include tablet-portrait {
    margin-bottom: 0;
    width: 200px;
  }
}

.footer__form-intro {
  font-family: var(--font-serif);
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1em;
  margin-top: 50px;

  @include tablet-landscape {
    margin-top: -.5em;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  padding-top: 50px;

  a {
    text-decoration: none;
    margin: 0 12.5px;
  }
}
