@import '../responsive';

@keyframes fadeDown {
  from {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
    opacity: 1;
    transform: translateY(0);
  }
}

#shopify-section-header {
  height: var(--header-height);
  position: sticky;
  z-index: var(--z-navigation);
  top: 0;
}

.header {
  position: relative;
  transition: box-shadow var(--slow);

  &.header_scrolled,
  &.header_products_open {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
    transition: box-shadow var(--fast);
  }
}

.header__main {
  position: relative;
  transition: background-color var(--slow);

  &:hover,
  .header__dropdown.active ~ &,
  .header_scrolled & {
    background-color: var(--offwhite-color);
    color: var(--primary-brand-color);
    transition: background-color var(--fast);
  }
}

.header__main-inner {
  column-gap: var(--gutter);
  display: grid;
  grid-template: 'left center right' var(--header-height) / 1fr 100px 1fr;
  justify-content: space-between;
  padding: 0 var(--gutter);
}

.header__left,
.header__right {
  align-self: center;

  .header-link:not(.header-link_cart) {
    display: none;
  }

  @include tablet-landscape {
    .header-link:not(.header-link_cart) {
      display: inline-block;
    }
  }
}

.header__left {
  grid-area: left;
  text-align: left;

  .header-link {
    @include tablet-landscape {
      margin-right: 44px;
    }
  }
}

.header__center {
  align-self: center;
  grid-area: center;
}

.header__logo {
  a {
    display: inline-block;
    overflow: hidden;
  }

  .svg-logo {
    display: block;
    margin: auto;
    width: 64px;

    @include tablet-landscape {
      width: 88px;
    }
  }
}

.header__right {
  grid-area: right;
  text-align: right;

  .header-link {
    display: none;

    @include tablet-landscape {
      margin-left: 44px;
    }
  }
}

.header {

  a.header-link,
  button.header-link {
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;

    transition: background-size 400ms;
    background-size: 0 1.75px;
    background-position: right 100%;

    @include tablet-landscape {
      display: inline-block;
      font-size: var(--font-size-p);
    }

    &:hover,
    &.active {
      background-position: left 100%;
      background-size: 100% 1.75px;
    }
  }

  &.header_light_content:not(:hover):not(.header_scrolled):not(.header_products_open) {
    a.header-link,
    button.header-link {
      @include tablet-landscape {
        color: white;
      }
    }
  }
}

$toggle-icon-size: 24px;

.menu-button {
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  height: $toggle-icon-size + 10px;
  padding: 0;
  position: relative;
  width: $toggle-icon-size + 10px;

  &:focus {
    outline: none;
  }

  @include tablet-landscape {
    display: none;
  }
}

.menu-button__icon {
  position: absolute;
  left: 50%;
  top: 50%;

  .toggle-icon_bar-one,
  .toggle-icon_bar-two,
  .toggle-icon_bar-three {
    position: absolute;
    left: $toggle-icon-size / -2;
    top: $toggle-icon-size / -2 + 5px;
    height: 2px;
    width: $toggle-icon-size;
    background-color: currentColor;
    transition: var(--fast) ease;
  }

  .toggle-icon_bar-two {
    top: 0px;
  }

  .toggle-icon_bar-three {
    top: $toggle-icon-size / 2 - 5px;
  }

  .header_open & {
    .toggle-icon_bar-one {
      transform: rotate(-45deg);
      top: 0px;
    }

    .toggle-icon_bar-two {
      opacity: 0;
      left: -$toggle-icon-size/2;
    }

    .toggle-icon_bar-three {
      transform: rotate(45deg);
      top: 0px;
    }
  }
}

.header__dropdown {
  background-color: var(--white-color);
  color: var(--primary-brand-color);
  opacity: 0;
  padding: 40px 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 100%;
  transition-property: box-shadow, opacity, transform;
  transition-duration: var(--fast);

  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
  // opacity: 0;
  transform: translateY(-20px);

  &.active,
  .header_products_open & {
    // animation: fadeDown var(--fast);

    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
    opacity: 1;
    pointer-events: auto;
    transform: none;

    transition-duration: var(--fast);
  }
}

.header__dropdown--mobile {
  @include tablet-landscape {
    display: none;
  }
}

.header__dropdown--desktop {
  @media (max-width: 991px) {
    display: none;
  }
}


.header__dropdown-inner {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: var(--page-width);

  .dropdown-item {
    display: block;
    flex: 1 1 100%;
    text-align: center;
    padding: 0 var(--gutter);
  }

  .dropdown-image {
    display: block;
    height: 80px;
    margin: 0 auto;
    width: 120px;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
  .dropdown-text {
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
  }

  .grandchild-link {
    color: inherit;
    text-decoration: none;
  }
}

.header__dropdown--mobile {
  .header__dropdown-inner {
    flex-direction: column;
  }

  .header-link,
  .parent-link-wrapper {
    margin: 0 0 1em;
    padding: 0 var(--gutter);
  }
  a.header-link {
    font-weight: 400;
    font-size: var(--font-size-base);
  }

  .parent-link {
    color: inherit;
    font: bold 14px/1 var(--font-sans-serif);
    text-decoration: none;
    text-transform: uppercase;
  }

  .child-links {
    margin: .5em 0;

    @include tablet-portrait {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .child-link {
    color: inherit;
    display: block;
    margin: .5em 0;
    text-decoration: none;
  }
}

.main {
  transition-property: filter, transform;
  transition-duration: var(--fast);
  transform-origin: top center;

  :root.mobile-menu--active  & {
    filter: blur(10px) grayscale(1);
    // transform: perspective(20px) translateZ(-20px);
  }
}
