@import '../responsive';

.header {

}

.header__promo {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  font-size: 14px;
  padding: 12px;
  text-align: center;
}

.header__main {
  position: relative;
}

.header__main-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  width: var(--page-width);
}

.header__left {
  flex: 1 1 100%;
  padding: 0 var(--gutter);
  text-align: left;

  .header-link {
    margin-right: 44px;
  }
}

.header__center {
  flex: 0 0 100px;
}

.header__logo {
  padding: 24px;
}

.header__right {
  flex: 1 1 100%;
  padding: 0 var(--gutter);
  text-align: right;

  .header-link {
    margin-left: 44px;
  }
}

.header {
  a.header-link,
  span.header-link {
    color: var(--font-color);
    display: inline-block;
    padding: 39px 0 29px;
    text-decoration: none;
  }
}

.header__dropdown {
  display: none;
  position: absolute;
  width: 100%;
}
