@import '../responsive';

.home-hero {
  display: flex;
  flex-direction: column;

  @include tablet-portrait {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - var(--banner-height));

  }

  &:first-child {
    margin-top: calc(var(--header-height) * -1);
  }
}

.home-hero__content {
  align-items: center;
  background-color: var(--secondary-brand-color);
  display: flex;

  @include tablet-portrait {
    flex: 0 0 auto;
    justify-content: center;
    width: 50%;
  }

  &.home-hero_background_dark {
    background-color: var(--primary-brand-color);
    color: var(--white-color);
  }
}

.home-hero__content-inner {
  margin: 0 auto;
  max-width: 615px;
  padding: 40px var(--gutter);
  text-align: center;

  h1 {
    font-size: 52px;
    font-family: var(--font-serif);
    font-weight: normal;
    margin: 0;
  }

  p {
    font-size: 18px;
    line-height: 1.78;
    margin: 28px 0 48px;
  }

  @include tablet-portrait {
    text-align: left;
  }
}

.home-hero__image {
  background-color: var(--primary-brand-color);
  height: 450px;
  order: -1;
  position: relative;

  @include tablet-portrait {
    flex: 0 0 auto;
    height: auto;
    order: 2;
    width: 50%;
  }
}
