@keyframes pressFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.shopify-section-press {
  overflow: hidden;

  .html-page_why_luna & {
    background-color: var(--secondary-brand-color);
  }
  .html-page_reviews & {
    background-color: var(--primary-brand-color);
    color: var(--white-color);
  }
  &.press-background--blue {
    background-color: var(--secondary-brand-color);

    :root.color-scheme--dark & {
      background-color: var(--primary-brand-color);
      color: var(--white-color);
    }
  }
}

.press {
  margin: var(--padding-v) auto;
  max-width: 758px;
}

.press__header {
  text-align: center;

  h2 {
    font-size: var(--font-size-p-lg);
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
  }
}

.press__logos {
  align-items: center;
  justify-content: center;
  padding: var(--padding-v) 0;
}

.press-logo {
  cursor: pointer;
  flex: 0 0 auto;
  opacity: .2;
  text-align: center;
  transition: opacity var(--slow);
  width: 180px;

  &.is-selected {
    opacity: 1;
    transition-duration: var(--fast);
  }

  svg {
    width: 150px;
    height: 40px;
    object-fit: contain;
    object-position: center;
    fill: currentColor;
  }
}

.press__quotes {

  blockquote {
    box-sizing: border-box;
    display: block;
    // display: none;
    font-family: var(--font-serif);
    font-size: 36px;
    font-style: italic;
    margin: 1em 0;
    padding: 0 var(--gutter);
    text-align: center;
    width: 320px;
    margin: 0;
    
    // position: absolute;
    // left: 0;
    // right: 0;
    // top: 0;
    
    @include tablet-portrait {
      width: 768px;
      font-size: 40px;
    }

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }

    // &.active {
    //   animation: pressFadeIn var(--slow);
    //   display: block;
    // }

    // &.inactive {
    //   display: block;
    //   opacity: 0;
    //   transition: var(--fast);
    // }
  }
}
