@keyframes pressFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.press {
  padding: 80px var(--gutter);

  .html-page_why_luna & {
    background-color: var(--secondary-brand-color);
  }

  .html-page_reviews & {
    background-color: var(--secondary-brand-color);
  }
}

.press__header {
  text-align: center;

  h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
  }
}

.press__logos {
  align-items: center;
  display: none;
  justify-content: center;
  padding: 90px 0 70px;

  @include tablet-portrait {
    display: flex;
  }

  &_mobile {
    display: block;
    overflow-x: hidden;
    padding: 50px 0 60px;
    width: 100%;

    @include tablet-portrait {
      display: none;
    }
  }
}

.press-logo {
  cursor: pointer;
  flex: 0 0 auto;
  opacity: .2;
  text-align: center;
  transition: opacity var(--slow);
  width: 200px;

  &.active {
    opacity: 1;
    transition-duration: var(--fast);
  }
  img {
    height: 60px;
    width: 130px;
    object-fit: contain;
    object-position: center;
  }
}

.press__quote {
  height: 100px;
  position: relative;
  text-align: center;

  @include tablet-portrait {
    height: 46px;
  }

  blockquote {
    color: var(--font-color);
    display: none;
    font-family: var(--font-serif);
    font-size: 40px;
    font-style: italic;
    margin: 0;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    &.active {
      animation: pressFadeIn var(--slow);
      display: block;
    }

    &.inactive {
      display: block;
      opacity: 0;
      transition: var(--fast);
      // transform: translateY(30px);
    }
  }
}
