@import '../responsive';

.product-reviews {
  background-color: var(--secondary-brand-color);
}

.product-reviews__inner {
  margin: 0 auto;
  padding: var(--padding-v-desktop) var(--gutter);
  width: var(--page-width-sm);
}

.product-reviews__header {
  position: relative;
  text-align: center;

  h4 {
    font-size: 18px;
    font-weight: 500;
  }
}

.product-reviews__cta {
  appearance: none;
  background-color: var(--white-color);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  padding: 15px 25px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    @media (hover: hover) {
      background-color: var(--font-color);
      color: var(--white-color);
    }
  }
}

.product-reviews__list {
  margin: var(--padding-v-desktop) 0;
}

.product-reviews__item {
  border-bottom: 1px solid darken(#dae8f0, 15);
  margin-top: 40px;
  padding-bottom: 30px;

  h4 {
    font-size: 14px;
    font-weight: 500;
    margin: .75em 0;
  }

  p {
    font-size: 18px;
    line-height: 1.78;
  }
}
