@import '../responsive';

.product-suggestion {
  @include tablet-portrait {
    margin: var(--padding-v-desktop) 0;
  }
}

.product-suggestion__inner {
  margin: 0 auto;
  max-width: 100%;
  width: var(--page-width);

  @include tablet-portrait {
    padding: 0 var(--gutter);
  }
}

.product-suggestion__content {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;

  @include tablet-portrait {
    flex-direction: row;
  }
}

.product-suggestion__info {
  padding: 35px var(--gutter);
  text-align: center;

  img {
    max-width: 100%;
  }

  @include tablet-portrait {
    flex: 0 0 auto;
    width: 50%;
  }

  @include tablet-landscape {
    width: 33.33%;
  }
}

.product-suggestion__product {

}

.product-suggestion__image {
  order: -1;

  .image-wrapper {
    padding-bottom: 80%;
    position: relative;

    @include tablet-portrait {
      height: 100%;
      padding: 0;
    }
  }

  @include tablet-portrait {
    flex: 0 0 auto;
    order: 2;
    width: 50%;
  }

  @include tablet-landscape {
    width: 66.67%;
  }
}