@import '../responsive';

@keyframes stepFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.shopify-section-product-steps {
  margin: var(--padding-v-desktop) 0;

  @include tablet-portrait {
    margin: var(--padding-v-desktop) 0;
  }
}

.product-steps {

}

.product-steps__inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
  width: var(--page-width);

  @include tablet-portrait {
    flex-direction: row;
    padding: var(--gutter-half);
  }
}

.product-steps__image {
  flex: 0 0 auto;
  padding: 0 var(--gutter);

  .image-wrapper {
    padding-bottom: 120%;
    position: relative;
  }

  @include tablet-portrait {
    flex: 0 0 auto;
    padding: 0 var(--gutter-half);
    width: 50%;
  }
}

.product-steps__content {
  padding: var(--padding-v-mobile) var(--gutter) 0;

  @include tablet-portrait {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--gutter);
    width: 50%;
  }
}

.product-steps__content-inner {
  max-width: 100%;
  text-align: center;
  width: 500px;

  p {
    font-size: 20px;
  }
}

.product-steps__choices {
  display: flex;
  justify-content: center;
  margin: 35px auto;
  outline: 0;

  button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 28px;
    font-weight: 500;
    opacity: .3;
    outline: 0;
    margin: 0 20px;
    padding: 0;

    &.active {
      opacity: 1;
    }
  }
}

.product-steps__item {
  animation: stepFadeIn var(--slow);
}
