@import '../responsive';
@import '../snippets/features-list';

.product-features {
  margin: auto;
  max-width: var(--page-width);

  .section-subheader {
    font-family: var(--font-sans-serif);
    p {
      font-weight: inherit;
    }
    em {
      font-family: var(--font-serif);
    }
  }
}
