@import '../responsive';

.shopify-section-product-detail {
}

.product-detail {
  margin: var(--padding-v-desktop) 0;

  @include tablet-portrait {
    margin: var(--padding-v-desktop) 0;
  }
}

.product-detail__inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--page-width);

  @include tablet-portrait {
    flex-direction: row;
    padding: var(--gutter-half);
  }
}

.product-detail__image {
  flex: 0 0 auto;
  padding: 0 var(--gutter);

  .image-wrapper {
    padding-bottom: 120%;
    position: relative;
  }

  @include tablet-portrait {
    flex: 0 0 auto;
    order: 2;
    padding: 0 var(--gutter-half);
    width: 50%;
  }
}

.product-detail__content {
  padding: var(--padding-v-mobile) var(--gutter) 0;

  @include tablet-portrait {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--gutter);
    width: 50%;
  }
}

.product-detail__content-inner {
  max-width: 100%;
  text-align: center;
  width: 500px;

  p {
    font-size: var(--font-size-p-lg);
  }
}
