@import '../responsive';

.product-hero {
  padding-bottom: var(--padding-v-desktop);
  position: relative;

  @include tablet-landscape {
    padding-bottom: 0;
  }
}

.product-hero__corner {
  grid-area: corner-badge;
  position: relative;
  left: calc(var(--gutter) * -1);
  display: none;

  @include tablet-landscape {
    display: block;
  }

  img {
    display: block;
  }
}

.product-hero__inner {
  display: grid;
  grid-template:
    'title' auto
    'image' auto
    'form' auto
    'info' auto
    'star-rating' auto
    / auto;
  padding: 0 var(--gutter);

  @include tablet-landscape {
    min-height: calc(100vh - var(--header-height) - var(--banner-height));
    grid-template:
      'title        title form' minmax(102px, auto)
      'info         image form' auto
      'star-rating  image form' 1fr
      'corner-badge image form' auto
      / 1fr 1fr 1fr;
  }

  @include tablet-landscape {
    grid-template-columns: 7fr 11fr 7fr;
    // grid-template-columns: 336fr 672fr 312fr;
    grid-template-columns: 336px auto 312px;
  }
}

.product-hero__title {
  align-self: center;
  font-family: var(--font-serif);
  font-weight: normal;
  font-size: 36px;
  grid-area: title;
  line-height: 1.11;
  margin: 1em auto 0;
  max-width: 453px;
  position: relative;
  text-align: center;

  @include tablet-landscape {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1.2;
    margin: 0;
    text-align: left;
  }
}

.product-hero__info {
  grid-area: info;
  margin-top: var(--padding-v-mobile);
  order: 10;

  @include tablet-landscape {
    margin-top: 0;
    padding-bottom: 0.5em;
    position: relative;

    &::after {
      background-color: #1f1f1f;
      content: '';
      display: block;
      height: 1px;
      opacity: 0.3;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.product-hero__image {
  align-self: flex-start;
  background: var(--offwhite-color);
  grid-area: image;
  margin: 0 calc(var(--gutter) * -1);

  @include tablet-landscape {
    margin: 0;
  }

  img {
    display: block;
    mix-blend-mode: multiply;
    width: 100%;
  }
}

.product-hero__form {
  display: flex;
  flex-direction: column;
  grid-area: form;
  margin: 3em 0;

  .product__options {
    margin: 2em 0;
  }

  .option--color {
    font-size: 18px;
  }

  .variants {
    display: none;
  }
}

// Product Tabs
.product-tabs {
}

.product-tabs__header {
  margin-bottom: 20px;
  position: relative;

  &:before {
    background-color: #1f1f1f;
    content: '';
    display: block;
    height: 1px;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    opacity: 0.3;
    outline: 0;
    margin-right: 30px;
    padding: 0.75em 0;
    z-index: 1;

    &.selected {
      border-bottom: 1px solid var(--font-color);
      opacity: 1;
    }
  }
}

.product-tabs__content {
  p {
    font-size: 10px;

    strong {
      font-size: 12px;
    }
  }
}

// Product Form
.quantity-and-price {
  align-items: center;
  display: flex;
  display: grid;
  grid-template: 'quantity-selector price compare-at-price' auto / 1fr 1fr auto;
  justify-content: space-between;

  // @media (min-width: 992px) and (max-width: 1359px) {
  //   grid-template: "quantity-selector quantity-selector" auto "price compare-at-price" auto / 1fr 1fr;
  //   row-gap: 1em;
  // }

  .quantity-selector-outer {
    grid-area: quantity-selector;
  }

  .quantity-selector {
    border: 1px solid var(--primary-brand-color);
    border-radius: 48px;
    display: grid;
    font-weight: 500;
    grid-template-columns: 48px auto 48px;
    grid-template-rows: 48px;

    input {
      appearance: none;
      background: none;
      border: 0;
      color: inherit;
      flex: 1 1 0px;
      font-size: 14px;
      min-width: 0;
      text-align: center;
      width: auto;
    }

    button {
      appearance: none;
      background: none;
      cursor: pointer;
      border: 0;
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-size: larger;
      outline: 0;
      border-radius: 0 0 24px 24px;
      text-align: center;

      &[aria-label='Decrement quantity'] {
        border-radius: 24px 0 0 24px;
      }

      &[aria-label='Increment quantity'] {
        border-radius: 0 24px 24px 0;
      }
    }
  }

  .price,
  .compare-at-price {
    font-size: 24px;
    font-weight: 500;
  }

  .price {
    grid-area: price;
    text-align: center;
  }

  .compare-at-price {
    color: #1f1f1f4d;
    font-size: 24px;
    font-weight: 500;
    grid-area: compare-at-price;
    text-align: right;
    text-decoration: line-through;
  }
}

#AddToCartForm {
  .form-button {
    margin-top: 40px;
    width: 100%;
  }
  .form-message {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    margin: 5px 0;
    opacity: 0;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
    transition: opacity var(--slow);

    &.active {
      opacity: 1;
    }

    &.affirm-as-low-as {
      // margin: var(--gutter) 0;
    }
  }
}

.yotpo.bottomLine {
  grid-area: star-rating;
  // margin: 2em 0 0;

  .yotpo-display-wrapper {
    font-size: 14px;

    .yotpo-stars {
      margin-right: 0.5em;

      .yotpo-icon {
        line-height: 0.85;
        margin-right: 0.1em;

        &::before {
          font-size: 14px;
        }
      }
    }
    a {
      font-family: var(--font-serif);
      letter-spacing: -0.02em;
    }
    .yotpo-regular-box,
    .sentence-container {
      padding: 0;
      margin: 0;
    }
    .shoppers-say-title,
    .review-stars,
    .display-name,
    .icon-holder {
      display: none;
    }
    .single-sentence-text-content {
      margin: 0;

      .sentence {
        font-family: var(--font-serif);
        font-size: 16px;
        font-style: normal !important;
        line-height: 1.63;
        padding-right: 1em;
      }
    }
  }
}
