@import '../responsive';

.shopify-section-product-full-image {
}

.product-full-image {
  margin: var(--padding-v-desktop) 0;
  padding: 0 var(--gutter);

  @include tablet-portrait {
    padding: 0;
  }
}

.product-full-image__inner {
  padding-bottom: 100%;
  position: relative;

  @include tablet-portrait {
    padding-bottom: 60%;
  }
}
