@import '../responsive';

.product-hero {
  padding-bottom: var(--padding-v-desktop);
  position: relative;

  @include tablet-portrait {
    padding-bottom: 30px;
  }
}

.product-hero__corner {
  bottom: -3px;
  left: 0;
  position: absolute;

  img {
    line-height: 0;
  }
}

.product-hero__inner {
  display: grid;
  grid-template:
    "title" auto
    "image" auto
    "form" auto
    "info" auto
    "star-rating" auto
    / auto;
  padding: 0 var(--gutter);

  @include tablet-portrait {
    grid-template:
      "title       image form" auto
      "info        image form" auto
      "star-rating image form" 1fr
      / 1fr 1fr 1fr;
  }

  @include tablet-landscape {
    grid-template-columns: 7fr 11fr 7fr;
  }
}

.product-hero__title {
  font-family: var(--font-serif);
  font-weight: normal;
  font-size: 40px;
  grid-area: title;
  margin: 0;
  text-align: center;

  @include tablet-portrait {
    text-align: left;
  }
}

.product-hero__info {
  grid-area: info;
  margin-top: var(--padding-v-mobile);
  order: 10;

  @include tablet-portrait {
    margin-top: 0;
  }
}

.product-hero__image {
  background: var(--offwhite-color);
  grid-area: image;

  img {
    display: block;
    mix-blend-mode: multiply;
    width: 100%;
  }
}

.product-hero__form {
  grid-area: form;

  form {
    margin-top: 0;
  }

  .option--color {
    font-size: 18px;
  }

  .variants {
    display: none;
  }
}

// Product Tabs
.product-tabs {

}

.product-tabs__header {
  margin-bottom: 20px;
  position: relative;

  &:before {
    background-color: #1f1f1f;
    content: '';
    display: block;
    height: 1px;
    opacity: .3;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    opacity: .3;
    outline: 0;
    margin-right: 30px;
    padding: .75em 0;
    z-index: 1;

    &.selected {
      border-bottom: 1px solid var(--font-color);
      opacity: 1;
    }
  }
}

.product-tabs__content {
  p {
    font-size: 10px;

    strong {
      font-size: 12px;
    }
  }
}

// Product Form

.quantity-and-price {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .quantity-selector {
    border: 1px solid var(--primary-brand-color);
    border-radius: 30px;
    font-weight: 500;
    padding: 0 9px;

    input {
      appearance: none;
      background: none;
      border: 0;
      font-size: 12px;
      padding: 16px 0;
      text-align: center;
      width: 20px;
    }

    button {
      appearance: none;
      background: none;
      cursor: pointer;
      border: 0;
      font-size: 18px;
      outline: 0;
      padding: 5px 8px;
    }
  }

  .price {
    font-size: 24px;
    font-weight: 500;

    &_compare {
      color: rgba(0,0,0,0.4);
      text-decoration: line-through;
    }
  }
}
#AddToCartForm {

  .form-button {
    margin-top: 40px;
    width: 100%;

    &.affirm-button {
      border: solid 1px var(--primary-brand-color);
      background-color: var(--light-pink);
      color: var(--primary-brand-color);
      margin-top: 20px;
    }
  }
  .form-message {
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    margin: 5px 0;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
  }
}

.yotpo.bottomLine {
  align-self: flex-start;
  grid-area: star-rating;
}
