@import '../responsive';

.shopify-section-product-detail {
}

.product-detail {
  margin: var(--padding-v) 0;
}

.product-detail__inner {
  box-sizing: content-box;
  display: grid;
  grid-template: "image" auto "content" auto / auto;
  row-gap: var(--padding-v);
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 0 var(--gutter);

  @include tablet-portrait {
    grid-template: "content image" auto / 1fr 1fr;
  }
}

.product-detail__image {
  flex: 0 0 auto;
  grid-area: image;

  .image-wrapper {
    padding-bottom: 120%;
    position: relative;
  }
}

.product-detail__content {
  align-self: center;
  box-sizing: content-box;
  grid-area: content;
  text-align: center;
  margin: auto;
  max-width: 500px;

  @include tablet-portrait {
    padding: 0 var(--gutter);
  }
}

.product-detail__content-inner {

  p {
    font-size: var(--font-size-p-lg);
  }
}
