.promo-banner {
  align-items: center;
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  display: grid;
  font-size: 12px;
  min-height: var(--banner-height);
  overflow: hidden;
  padding: 0 var(--gutter);
  text-align: center;


  @include tablet-landscape {
    font-size: 14px;
  }

  :root.color-scheme--dark & {
    background-color: var(--offwhite-color);
    color: var(--primary-brand-color);
  }

  p {
    line-height: normal;
  }

  a {
    color: inherit;
  }
}
