.promo-banner {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  font-size: 14px;
  min-height: var(--banner-height);
  overflow: hidden;
  padding: 0 var(--gutter);
  text-align: center;

  :root.color-scheme--dark & {
    background-color: var(--offwhite-color);
    color: var(--primary-brand-color);
  }

  p {
    line-height: 1.14;
    margin: 0.893em 0;
  }

  a {
    color: inherit;
  }
}
