.promo-banner {
  align-items: center;
  display: grid;
  font-size: 12px;
  overflow: hidden;
  padding: 0 var(--gutter);
  text-align: center;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  strong {
    font-weight: 500;
  }

  p {
    line-height: normal;
    margin: 0.8344em 0;

    @media (min-width: 768px) {
      margin: 0.608em 0;
    }
  }

  a {
    color: inherit;
    background-image: linear-gradient(to right, currentColor, currentColor);
    background-repeat: repeat-x;
    background-size: 100% 1.75px;
    background-position: bottom;
  }
}
