// Sizing Chart

.sizing-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  &__option {
    margin: var(--gutter) 0 0;
    box-sizing: border-box;

    @media (max-width: 767px) {
      flex-basis: 33.33%;
      flex-basis: 50%;
    }

    img {
      max-width: 100%;

      @media (min-width: 768px) {
        height: 72px;
      }

      @media (min-width: 1024px) {
        height: 92px;
      }
    }
  }

  &__name {
    font-weight: 500;
    letter-spacing: 1.92px;
    margin: 0;
    text-transform: uppercase;
  }

  &__size {
    display: inline-block;
    font-size: 14px;
    margin: .6em 0 1em;
  }

  &__image {
  }
}
