// Sizing Chart
.sizing-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  &__option {
    margin: var(--gutter) 0 0;
    padding: 0 28px;
    
    @media (max-width: 767px) {
      padding: 0 14px;
      flex-basis: 33.33%;
    }

    img {
      max-width: 100%;
    }
  }

  &__name {
    font-weight: 500;
    letter-spacing: 1.92px;
    margin: 0;
    text-transform: uppercase;
  }

  &__size {
    display: inline-block;
    font-size: 14px;
    margin: .6em 0 1em;
  }

  &__image {
  }
}
