.testimonials {
  padding: var(--padding-v) 0;

  &.testimonials-background--blue {
    background-color: var(--secondary-brand-color);

    :root.color-scheme--dark & {
      color: var(--offwhite-color);
      background-color: var(--primary-brand-color);
    }
  }
}

.testimonials__header {
  margin-bottom: 80px;
  padding: 0 var(--gutter);
  text-align: center;
}

.testimonials__slider#testimonials {
  outline: 0;
  overflow-x: hidden;
  padding-bottom: 80px;
  position: relative;
  width: 100%;
}

.testimonials__slide {
  box-sizing: content-box;
  opacity: .3;
  padding: 0 6px;
  transition: opacity var(--slow);
  width: calc(100vw - var(--gutter)*2);

  // @include tablet-portrait {
  //   padding: 0 12px;
  // }

  @include tablet-landscape {
    padding: 0 24px;
    width: 424px;
  }

  &.is-selected {
    opacity: 1;
  }
}

.testimonials__slide-inner {
  background-color: var(--secondary-brand-color);
  border-radius: 90px;
  box-sizing: border-box;
  margin: 0;
  padding: 18px 36px 18px;
  position: relative;


  :root.color-scheme--dark & {
    background-color: var(--primary-brand-color);
    color: var(--offwhite-color);
  }

  .testimonials-background--blue & {

  }

  :root.color-scheme--dark .testimonials-background--blue & {

  }

  &::before {
    display: block;
    font-family: "yotpo-widget-font";
    font-size: 7px;
    letter-spacing: 0.5px;
  }
  &[data-star-rating='0']::before { content: normal }
  &[data-star-rating='0.5']::before { content: "\e61a" }
  &[data-star-rating='1']::before { content: "\e60e" }
  &[data-star-rating='1.5']::before { content: "\e60e \e61a" }
  &[data-star-rating='2']::before { content: "\e60e \e60e" }
  &[data-star-rating='2.5']::before { content: "\e60e \e60e \e61a" }
  &[data-star-rating='3']::before { content: "\e60e \e60e \e60e" }
  &[data-star-rating='3.5']::before { content: "\e60e \e60e \e60e \e61a" }
  &[data-star-rating='4']::before { content: "\e60e \e60e \e60e \e60e" }
  &[data-star-rating='4.5']::before { content: "\e60e \e60e \e60e \e60e \e61a" }
  &[data-star-rating='5']::before { content: "\e60e \e60e \e60e \e60e \e60e" }

  h4 {
    font-family: var(--font-serif);
    font-size: var(--font-size-p-lg);
    font-weight: normal;
    margin: .25em 0 .5em;
  }

  p {
    font-size: 12px;
    line-height: 1.33;
    margin: 0;
  }
}

.quote-tail {
  bottom: 4px;
  color: var(--secondary-brand-color);
  display: block;
  margin-left: auto;
  position: relative;
  right: 56px;
  width: 19px;

  :root.color-scheme--dark & {
    color: var(--primary-brand-color);
  }

  .testimonials-background--blue & {

  }

  :root.color-scheme--dark .testimonials-background--blue & {

  }
}


.testimonials__cta {
  margin-top: 80px;
  text-align: center;
}
