.testimonials {
  padding: 80px 0;
}

.testimonials__header {
  margin-bottom: 80px;
  padding: 0 var(--gutter);
  text-align: center;
}

.testimonials__slider#testimonials {
  outline: 0;
  overflow-x: hidden;
  padding-bottom: 80px;
  position: relative;
  width: 100%;
}

.testimonials__slide {
  opacity: .3;
  padding: 0 6px;
  transition: opacity var(--slow);
  width: 90%;

  @include tablet-portrait {
    padding: 0 12px;
    width: 50%;
  }

  @include tablet-landscape {
    padding: 0 24px;
    width: 33.33%;
  }

  &.is-selected {
    opacity: 1;
  }
}

.testimonials__slide-inner {
  background-color: var(--secondary-brand-color);
  border-radius: 90px;
  margin: 0 auto;
  max-width: 100%;
  padding: 36px 45px;
  position: relative;
  width: 424px;

  .quote-tail {
    position: absolute;
    right: 60px;
    width: 19px;
    bottom: -15px;
  }

  h4 {
    font-family: var(--font-serif);
    font-size: var(--font-size-p-lg);
    font-weight: normal;
    margin: .25em 0 .5em;
  }

  p {
    font-size: 12px;
    line-height: 1.33;
    margin: 0;
  }
}

.testimonials__cta {
  margin-top: 80px;
  text-align: center;
}
