// Weight Chart

.weight-chart {
  display: grid;
  gap: var(--gutter);
  grid-template: "table1" auto "table2" auto / auto;

  @include tablet-portrait {
    grid-template: "table1 table2" auto / 1fr 1fr;
  }
}

.weight-chart__type {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.92px;
  text-transform: uppercase;

  @include tablet-portrait {
    font-size: var(--font-size-p);
  }

}

.weight-chart__table {
  text-align: center;

  &:nth-child(1) {
    grid-area: table1;
  }

  &:nth-child(2) {
    grid-area: table2;
    border-bottom: 56px solid transparent;
  }

  @include tablet-portrait {
    border-bottom: 56px solid transparent;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border-bottom: 1px solid var(--primary-brand-color);
    line-height: 1.5;
    padding: 9px 1px;
    width: 50%;
  }

  th {
    font-weight: bold;

    @include small-viewport {
      font-size: var(--font-size-p);
    }
  }

  td:nth-child(2),
  th:nth-child(2) {
    background-color: var(--secondary-brand-color);

    :root.color-scheme--dark & {
      background-color: var(--primary-brand-color);
      border-bottom-color: var(--offwhite-color);
      color: var(--white-color);
    }
  }

  td:nth-child(1) {
    font-size: 14px;

    @include tablet-portrait {
      font-size: 16px;
    }
  }

  td:nth-child(2) {
    font-size: 15px;
    font-weight: 500;

    @include tablet-portrait {
      font-size: 20px;
    }
  }
}
