// Weight Chart

.weight-chart {
  width: 100%;

  @include tablet-portrait {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.weight-chart__type {
  font-size: var(--font-size-p);
  font-weight: 500;
  letter-spacing: 1.92px;
  text-transform: uppercase;
}

.weight-chart__table {
  padding: 0 var(--gutter);
  text-align: center;

  @include tablet-portrait {
    flex: 0 0 auto;
    padding: 0 30px;
    width: 50%;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border-bottom: 1px solid var(--primary-brand-color);
    line-height: 1.5;
    padding: 17px 10px;
    width: 50%;

    @include small-viewport {
      font-size: 14px;
    }
  }

  th {
    font-weight: bold;

    @include small-viewport {
      font-size: var(--font-size-p);
    }
  }

  td:nth-child(2),
  th:nth-child(2) {
    background-color: var(--secondary-brand-color);

    :root.color-scheme--dark & {
      background-color: var(--primary-brand-color);
      border-bottom-color: var(--offwhite-color);
      color: var(--white-color);
    }
  }

  td:nth-child(2) {
    font-size: 18px;
    font-weight: 500;
  }
}
