.yotpo-reviews {
  background: var(--light-blue-color);
  overflow: hidden;
  padding: 0 calc(var(--gutter) * 2);

  .section-header {
    margin: 2em 0;
    text-align: center;
  }
}

:root .yotpo.yotpo-main-widget {
  margin-bottom: var(--padding-v);
  width: auto;
}
