.yotpo-reviews {
  background: var(--light-blue-color);
  overflow: hidden;

  .section-header {
    margin: 2em 0;
    text-align: center;
  }
}

:root .yotpo.yotpo-main-widget {
  box-sizing: border-box;
  margin-bottom: var(--padding-v);
  width: 90vw;
  padding: 0 calc(var(--gutter) * 2);
}
