<div class="comparison-chart" :class="{ 'comparison-chart_open': isOpen }" id="comparisonChart">
  <div class="comparison-chart__top">
    <button class="cta-button cta-button_comparison" @click="toggleOpen()">
      {{ section.settings.button_text }}
      <span  class="cta-button_icon"></span>
    </button>
  </div>
  {% include 'comparison-chart' %}
</div>

{% schema %}
  {
    "name": "Comparison Chart",
    "class": "comparison-chart",
    "settings": [
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "How we measure up"
      },
      {
        "type": "checkbox",
        "id": "blue_background",
        "label": "Blue background"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Comparison chart",
        "category": "Text"
      }
    ]
  }
{% endschema %}
