<div class="comparison-chart comparison-chart-background--{{section.settings.background_color}}" :class="{ 'comparison-chart_open': isOpen }" id="comparisonChart">
  <div class="comparison-chart__top">
    <button class="cta-button cta-button_comparison" @click="toggleOpen()">
      {{ section.settings.button_text }}
      <span  class="cta-button_icon"></span>
    </button>
  </div>
  {% render 'comparison-chart', html_markup: section.settings.table_html_markup %}
</div>

{% schema %}
  {
    "name": "Comparison Chart",
    "class": "comparison-chart",
    "settings": [
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "How we measure up"
      },
      {
        "type": "html",
        "id": "table_html_markup",
        "label": "Comparison Chart HTML"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background color",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          }
        ]
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Comparison chart",
        "category": "Text"
      }
    ]
  }
{% endschema %}
