<div class="page-hero">
  {% render 'page-hero', header: linklists[section.settings.menu].title, body: section.settings.description, background_color: 'blue', linklist: linklists[section.settings.menu] %}
</div>

{% schema %}
  {
    "name": "FAQ Hero",
    "class": "faq-hero",
    "settings": [
      {
        "type": "richtext",
        "id": "description",
        "default": "<p>If you don’t see what you’re looking for, reach out below.</p>",
        "label": "description"
      },
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "FAQ Hero Menu"
      }
    ]
  }
{% endschema %}
