<div class="footer">
  <div class="footer__logo">
    <a href="/">
      <img loading="lazy" src="{{ 'logo_luna@2x.png' | asset_url | image_tag }}" alt="Luna" width="72px" />
    </a>
    <button class="footer__light-switch-toggle" id="light-switch-toggle">{% render 'svg-light-switch' %}</button>
  </div>
  <div class="footer__inner">
    <div class="footer__main">
      {% render 'linklist', linklist: linklists[section.settings.footer_nav_handle], class: "footer__columns" %}
    </div>

    <div class="footer__aside">

      <div class="footer__form-intro">
        {{section.settings.newsletter_copy}}
      </div>
      <div class="footer__form">
        {{section.settings.newsletter_embed_code}}
      </div>

      {% render 'linklist', linklist: linklists[section.settings.social_nav_handle], class: "footer__social" %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "newsletter_copy",
        "label": "Newsletter Copy",
        "default": "Get deals and more by signing up"
      },
      {
        "type": "html",
        "id": "newsletter_embed_code",
        "label": "Newsletter embed code",
        "default": "<div class='klaviyo-form-XEQfy4'></div>"
      },
      {
        "type": "link_list",
        "id": "footer_nav_handle",
        "label": "Footer navigation",
        "default": "footer"
     },
     {
       "type": "link_list",
       "id": "social_nav_handle",
       "label": "Social Links"
     }
    ]
  }
{% endschema %}
