<div class="comparison-chart">
  <div class="comparison-chart__intro">
    <h2 class="section-header">{{ section.settings.header }}</h2>
    <div class="section-subheader">{{ section.settings.subheader }}</div>
  </div>
  {% render 'comparison-chart', html_markup: table_html_markup %}
</div>

{% schema %}
  {
    "name": "Page Comparison Chart",
    "class": "comparison-chart_page",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "The Luna Difference"
      },
      {
        "type": "richtext",
        "id": "subheader",
        "label": "Subheader",
        "default": "<p>What makes us different?</p>"
      },
      {
        "type": "html",
        "id": "table_html_markup",
        "label": "Comparison Chart HTML"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background color",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          }
        ]
      }
    ]
  }
{% endschema %}
