{% render 'page-hero', header: section.settings.header, body: section.settings.body, background_color: section.settings.background_color %}

{% schema %}
  {
    "name": "Hero",
    "class": "page-hero",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "body",
        "label": "Body",
        "default": "<p>Lorem ipsum</p>"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background color",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          }
        ],
        "default":   "gray"
      }
    ]
  }
{% endschema %}
