<div class="press press-background--{{section.settings.background_color}}">

  <div class="press__inner">
    <div class="press__header">
      <h2>{{ section.settings.header }}</h2>
    </div>

    <div class="press__logos">
      {% for block in section.blocks %}
        {% if block.type == 'press_mention' %}
          <div class="press-logo">
            {{ block.settings.logo_html }}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="press__quotes">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'press_mention' %}
          <blockquote class="press__quote">{{ block.settings.quote }}</blockquote>
        {% endcase %}
      {% endfor %}
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Press",
    "class": "shopify-section-press",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background color",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          }
        ],
        "default":   "gray"
      }
    ],
    "blocks": [
      {
        "name": "Press mention",
        "type": "press_mention",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "quote",
            "label": "Quote"
          },
          {
            "type": "html",
            "id": "logo_html",
            "label": "Logo SVG markup"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Selectable images with quotes",
        "category": "Image"
      }
    ]
  }
{% endschema %}
