{% for block in section.blocks %}
  {% if block.settings.product == product.handle %}
  <div class="product-reviews">
    <div class="product-reviews__inner">
      <div class="product-reviews__header">
        <h2 class="section-header">See what the fans have to say...</h2>
        <img alt="Stars" />
        <span>Based on 2,000 reviews</span>
      </div>
      <div class="product-reviews__list">
        <div class="product-reviews__item">
          <img alt="Stars" />
          <h4>Lorem ipsum dolor</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Product Reviews",
    "class": "shopify-section-product-reviews",
    "settings": [],
     "blocks": [
      {
        "type": "product-reviews",
        "name": "Product Reviews",
        "settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}