<div class="promo-banner">
  {{ section.settings.promo_text }}
</div>

{% schema %}
  {
    "name": "Promo Banner",
    "settings": [
      {
        "type": "richtext",
        "id": "promo_text",
        "label": "Text",
        "default": "<p>Promo Here</p>"
      }
    ]
  }
{% endschema %}
