<div id="weight-popup" :class="['weight-popup', { active: weightPopupIsOpen }]">
  <div class="weight-popup__background" @click="closeWeightPopup"></div>
  <div class="weight-popup__inner">
    <button id="weight-popup__close-button" class="weight-popup__close-button" @click="closeWeightPopup">{% render 'svg-close' %}</button>
    <h2 class="weight-popup__title">{{section.settings.title}}</h2>
    <div class="weight-popup__description">{{section.settings.description}}</div>
    <div class="weight-popup__weights">

      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'weight_class' %}
          <div class="weight-popup-block">
            <h3 class="weight-popup-block__title">{{block.settings.title}}</h3>
            {{block.settings.table_markup}}
          </div>
        {% endcase %}
      {% endfor %}

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Weight Popup",
    "settings": [
      {
        "default": "Weight Chart",
        "id": "title",
        "label": "title",
        "type": "text"
      },
      {
        "type": "richtext",
        "label": "description",
        "id": "description"
      }
    ],
    "blocks": [
      {
        "name": "Weight Class",
        "type": "weight_class",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "table_markup",
            "label": "Table HTML markup",
            "info": "This html does not need any classes, attributes, or css",
            "default": "<table><thead><tr><th>Body Weight</th><th>Blanket Weight</th></tr></thead><tbody><tr><td></td><td></td></tr></tbody></tbody></table>"
          }
        ]
      }
    ]
  }
{% endschema %}
