@import '../responsive';

@import '../sections/collection-menu';
@import '../snippets/options';
@import '../snippets/pagination';
@import '../snippets/product-grid-item';
@import '../snippets/page-hero';

.collection__product-grid {
  background: var(--offwhite-color);
  display: grid;
  column-gap: 12px;
  padding: 40px 12px;
  row-gap: 16px;

  @include tablet-portrait {
    column-gap: 24px;
    padding: 40px var(--gutter);
    row-gap: 24px;
  }

  .collection.two-across & {
    grid-template-columns: repeat(2, 1fr);
  }

  .collection.three-across & {
    grid-template-columns: repeat(2, 1fr);

    @include desktop-xl {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  :root.loading & .product-grid-item {
    opacity: 0;
  }

  .product-grid-item {
    transition: opacity var(--slow);
  }

  @for $i from 1 through 99 {
    .product-grid-item:nth-child(#{$i}) {
      transition-delay: #{$i * 100}ms;
    }
  }

  .product__options {
    font-size: 10px;
  }

  .option-values {
    text-align: left;
  }

  .option--color .option-value {
    margin: 1px 1em 1px 0;
  }

  .info-copy {
    display: none;
  }

  .option--size input[type='radio'],
  .option--weight input[type='radio'] {
    display: none;
  }

  .option--size input[type='radio']:checked .option-value,
  .option--weight input[type='radio']:checked .option-value {
    background: red;
  }

  // Size and Weight options
  .option--size,
  .option--weight {
    font-size: 10px;

    input[type='radio'] {
      display: none;
    }
    .option-value {
      box-shadow: 0 0 0 1.4px currentColor;
      color: #d8d8d8;
      border-radius: 10px;
      display: inline-block;
      line-height: 1;
      margin: 0 1.6em 1.6em 0;
      padding: 0.5em 0.8em;
      text-transform: uppercase;
    }

    input[type='radio']:checked + .option-value {
      color: #182755;
    }
  }

  .option--weight {
    .option-value {
      &[title='5 lbs']::after {
        content: ' - 50 lbs';
      }
      &[title='7 lbs']::after {
        content: ' - 70 lbs';
      }
      &[title='10 lbs']::after {
        content: ' - 100 lbs';
      }
      &[title='12 lbs']::after {
        content: ' - 120 lbs';
      }
      &[title='15 lbs']::after {
        content: ' - 150 lbs';
      }
      &[title='17 lbs']::after {
        content: ' - 170 lbs';
      }
      &[title='20 lbs']::after {
        content: ' - 200lbs';
      }
      &[title='22 lbs']::after {
        content: ' - 220lbs';
      }
      &[title='25 lbs']::after {
        content: ' - 250 lbs';
      }
      &[title='30 lbs']::after {
        content: ' - 300 lbs';
      }

      &::after {
      }
    }
  }
}


.collection-menu {
  align-self: center;

  @include small-viewport {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 64px 0 32px;
  }

  @include tablet-portrait {
    margin: calc(var(--gutter) * 2) 0;
  }

  .collection.two-across &,
  .collection.three-across & {

    &:nth-child(2n + 1) {
      grid-column-end: span 2;
    }
  }

  .collection.three-across & {

    @include desktop-xl {
      &:nth-child(2n + 1) {
        grid-column-end: span 1;
      }
      &:nth-child(3n + 1) {
        grid-column-end: span 3;
      }
      &:nth-child(3n + 2) {
        grid-column-end: span 2;
      }
    }
  }
}
