@import '../sections/collection-menu';
@import '../snippets/pagination';
@import '../snippets/product-grid-item';
@import '../snippets/options';

body {
  background: var(--light-blue-color);
}

.collection {
}

.collection__top {
  margin: var(--padding-v) 0;
  text-align: center;
}

.collection__title {
  font-family: var(--font-serif);
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: -1px;
  text-align: center;
  color: var(--font-color);

  @media (min-width: 768px) {
    font-size: 52px;
  }
}

.collection__description {
  font-size: 16px;
  margin: auto;
  max-width: 36em;
  padding: 0 var(--gutter);

  @include tablet-portrait {
    font-size: 18px;
  }
}

.collection__product-grid {
  background: var(--offwhite-color);
  display: grid;
  column-gap: 12px;
  padding: 40px 12px;
  row-gap: 16px;

  @include tablet-portrait {
    column-gap: 24px;
    padding: 40px var(--gutter);
    row-gap: 24px;
  }

  .collection.two-across & {
    grid-template-columns: repeat(2, 1fr);
  }

  .collection.three-across & {
    grid-template-columns: repeat(2, 1fr);

    @include tablet-portrait {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .collection-menu {
    align-self: center;

    @include small-viewport {
      grid-column-start: 1;
      grid-column-end: 3;
      margin: 64px 0 32px;
    }

    @include tablet-portrait {
      margin: 2em 0 1em;
    }
  }

  .collection.two-across & .collection-menu {
    &:nth-child(2n + 1) {
      // grid-column-end: span 2;
    }

    &:nth-child(2n + 2) {}
  }

  .collection.three-across & .collection-menu {
    &:nth-child(2n + 1) {
      @include small-viewport {
        grid-column-end: span 2;
      }
    }

    &:nth-child(3n + 1) {
      @include tablet-portrait {
        // grid-column-end: span 3;
        grid-column-start: 2;
      }
    }

    // &:nth-child(3n + 2) {
    //   @include tablet-portrait {
    //     grid-column-end: span 2;
    //   }
    // }

    &:nth-child(3n + 3) {}
  }
}
