@import './customers';

.login-page {
  margin: 2em auto 6em;
  max-width: 500px;
  padding: 0 var(--gutter);

  h1 {
    font-family: var(--font-serif);
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -1px;
    text-align: center;

    @include tablet-portrait {
      font-size: 52px;
    }
  }
}

.customer-login.form {
  display: none;
  grid-template-columns: 1fr;
  column-gap: var(--gutter);
  row-gap: 1em;

  .login-page[data-mode='login'] & {
    display: grid;
  }

  .bottom {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    & + p {
      margin: 0;

      a {
        text-decoration: underline;
      }
    }
  }
}

.recover-customer-password.form {
  display: none;
  grid-template-columns: 1fr;
  column-gap: var(--gutter);
  row-gap: 1em;

  .login-page[data-mode='recover'] & {
    display: grid;
  }
}
