@import './customers';

.create-customer.form {
  display: grid;
  column-gap: var(--gutter);
  grid-template-columns: 1fr;
  margin: 2em auto 6em;
  max-width: 500px;
  padding: 0 var(--gutter);

  input[name='customer[first_name]'] {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
}
