@import './customers';

.account-page {
  margin: 0 auto var(--header-height);
  padding: 0 var(--gutter);

  @include tablet-portrait {
    display: grid;
    gap: var(--gutter);
    grid-template:
      'top top' auto
      'order-history account-details' auto
      / 2fr 1fr;
    max-width: 1280px;
  }

  h1 {
    margin-bottom: 0.25em;

    & + a {
      text-decoration: underline;
    }
  }

  .order_number_link {
    &:hover {
      text-decoration: underline;
    }
  }
}

.account-page__top {
  grid-area: top;
  text-align: center;
}

.account-page__order-history {
  grid-area: order-history;
}

.account-page__account-details {
  grid-area: account-details;
}
