@import './customers';

.addresses-page {
  margin: auto;
  max-width: 1280px;
  max-width: 750px;
  padding: 0 var(--gutter) var(--gutter);

  label:not(input[type='checkbox'] + label) {
    display: block;
    margin-top: 1em;
  }

  input[name='address[first_name]'],
  input[name='address[last_name]'] {
    border-top: 1px solid rgba(0, 0, 0, 0.3);

    :root.color-scheme--dark & {
      border-top-color: rgba(255, 255, 255, 0.3);
    }
  }

  input[type='checkbox'] {
    display: inline-block;
    margin: 15px 0 0;

    & + label {
      display: inline-block;
      margin: 15px 0 0 5px;

      :root.color-scheme--dark & {
        color: var(--white-color);
      }
    }
  }

  input:not([type='button']):not([type='checkbox']) {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .hide {
    display: none;
  }

  select {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0;
    box-sizing: border-box;
    font-family: var(--font-sans-serif);
    font-weight: 500;
    font-size: var(--font-size-p-lg);
    line-height: 1.6;
    outline: 0;
    padding: 0.85em 0;
    width: 100%;
    // height: 100%;

    :root.color-scheme--dark & {
      color: var(--white-color);
      border-bottom-color: rgba(255, 255, 255, 0.3);
    }
  }

  div[data-address-form] {
    p {
      display: flex;
      justify-content: space-between;
    }
  }
}

.address-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  [data-aria-hidden='true'] {
    display: none;
  }

  [data-line-count='1'] {
    flex-basis: 100%;
  }

  [data-line-count='2'] {
    flex-basis: 49%;
  }

  [data-line-count='3'] {
    flex-basis: 32%;
  }
}

form[data-address-delete-form] {
  display: flex;
  justify-content: space-between;
}
