@import '../responsive';

@import '../snippets/page-hero';
@import '../sections/press';
@import '../sections/split-block';
@import '../sections/subscribe-callout';


.page-hero {

  &__reviews {
    background-color: var(--offwhite-color);
  }
  &__content {
    width: 1180px;
  } 
  &__body {
    background-color: #dae8f0;
  }
  .yotpo-label {
    display: none;
  }
}