@import '../responsive';
@import '../snippets/page-hero';
@import '../sections/faq';

.page-hero.page-hero_faq {
  background-color: var(--secondary-brand-color);
}

.page-hero_faq {
  ul {
    margin: 40px auto 0;
    max-width: 100%;
    padding: 0 var(--gutter);
    width: 400px;
  }

  li {
    list-style: none;
    padding: 0;

    > a {
      border-top: 1px solid darken(#dae8f0, 15);
      color: var(--primary-brand-color);
      display: block;
      font-size: var(--font-size-p-lg);
      font-weight: 500;
      padding: .6em 0;
      position: relative;
      text-align: left;
      text-decoration: none;

      &:after {
        content: '';
        display: block;
        height: 16px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 10px;
        position: absolute;
      }
    }

    &:last-child > a {
      border-bottom: 1px solid darken(#dae8f0, 15);
    }
  }
}
