@import '../responsive';

.legal-page {
  background: linear-gradient(var(--secondary-brand-color), var(--offwhite-color));

  &__inner {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 var(--gutter);
    max-width: 1042px;
  }

  &__header {
    font-family: var(--font-serif);
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 1.75em;
    text-align: center;

    @include tablet-portrait {
      font-size: var(--font-size-h0);
    }
  }

  &__content {
    font-size: var(--font-size-p);
    font-family: var(--font-serif);
    line-height: 2;

    @include tablet-portrait {
      font-size: 32px;
      line-height: 1.5;
    }
  }
}
