@import '../snippets/page-hero';
@import '../sections/chart-section';

@import '../sections/sizing-chart';
@import '../sections/weight-chart';

@import '../snippets/checklist-section';
// @import '../snippets/products-slider';
@import '../snippets/shop-more';
@import '../snippets/options';

@import '../sections/subscribe-callout';


.chart-section__content {
  padding: 0 var(--gutter);
}

:root .page-hero__content .page-hero__title {
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

:root .page-hero__content .page-hero__body p {
  @media (max-width: 767px) {
    font-size: 15px;
  }
}

:root .page-hero__content .page-hero__body:last-child {
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}
