@import '../responsive';

@import '../snippets/page-hero';
@import '../sections/press';
@import '../sections/split-block';
// @import '../snippets/shop-more';
@import '../sections/subscribe-callout';

.reviews-embed {
  box-sizing: content-box;
  margin: auto;
  max-width: 1102px;
  padding: 0 var(--gutter);
}
