@import '../responsive';

body[data-template="page.legal"] .main {
  margin-top: calc(var(--header-height) * -1);
  padding-top: var(--header-height);
  background-image: linear-gradient(#dae8f0, #f8f7f5);
}

.legal-page__inner {
  box-sizing: content-box;
  margin: 0 auto var(--padding-v);
  padding: 0 var(--gutter);
  max-width: 65ch;
}

.legal-page__header {
  font-family: var(--font-serif);
  font-weight: normal;
  // margin-bottom: 1.75em;
  text-align: center;

  @include tablet-portrait {
    font-size: var(--font-size-h0);
  }
}

.legal-page__content {
  font-size: var(--font-size-p);
  font-family: var(--font-serif);

  a {
    text-decoration: underline;
  }
}
