@import '../responsive';

.page__container {
  box-sizing: content-box;
  display: grid;
  margin: var(--padding-v) auto;
  max-width: var(--page-width);
  padding: 0 var(--gutter);

  grid-template: "sidebar" auto "title" auto "body" auto / auto;

  @include tablet-portrait {
    grid-template: "sidebar title" auto "sidebar body" 1fr / 1fr 2fr;
  }

  @include tablet-landscape {
    grid-template: "sidebar title" auto "sidebar body" 1fr / 320px auto;
  }

}

.page__title {
  font-family: var(--font-serif);
  font-size: 2em;
  font-weight: normal;
  grid-area: title;
  margin-top: 0;

  @include tablet-portrait {
    font-size: 52px;
  }
}

.page__body {
  grid-area: body;

  h2 {
    font-family: var(--font-serif);
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 0;

    @include tablet-portrait {
      font-size: 40px;
    }
  }

  hr {
    margin: 2em 0;
  }

  hr + h2 {
    margin-top: 0;
  }
}

.shopify-section.faq-sidebar {
  align-self: flex-start;
  grid-area: sidebar;

  @include tablet-portrait {
    position: sticky;
    top: var(--header-height);
  }
}
