@import '../snippets/page-hero';
@import '../snippets/checklist-section';
@import '../snippets/features-list';
@import '../sections/research';
@import '../snippets/product-steps';
@import '../sections/collection-list';
@import '../snippets/shop-more';
@import '../snippets/options.scss';


.shopify-section-product-steps {
  background-color: var(--secondary-brand-color);
  overflow: hidden;

  :root.color-scheme--dark & {
    background-color: var(--primary-brand-color);
    color: white;
  }
}
