.wrapper {
  box-sizing: content-box;
  margin: auto;
  max-width: 450px;
  padding: 0 var(--gutter);
}

label[for="password"] {
  cursor: pointer;
}

input[name="password"] {
  appearance: none;
  background: white;
  border: none;
  font-size: inherit;
  padding: 17px 69px 17px 32px;

  &:focus {
    outline: none;
  }
}

.storefront-password-form {
  box-sizing: content-box;
  margin:auto;
  max-width: 450px;
  padding: 0 var(--gutter);

  input[name="password"],
  .cta-button {
    opacity: 0;
    position: none;
  }

  &.active {
    input[name="password"],
    .cta-button {
      opacity: 1;
      position: auto;
    }
  }
}
