@import '../sections/product-detail';
@import '../sections/product-features';
@import '../sections/product-full-image';
@import '../sections/product-hero';
@import '../sections/yotpo-reviews';
@import '../sections/product-suggestion';
@import '../snippets/checklist-section';
@import '../snippets/options';
@import '../snippets/product-grid-item';
@import '../snippets/product-steps';
@import '../snippets/shop-more';
// Size page
@import '../sections/sizing-chart';
@import '../sections/weight-chart';

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  pointer-events: none;
  z-index: 9999;

  &.active {
    pointer-events: auto;
  }
}

.popup__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: background-color, filter;
  transition-duration: var(--slow);

  .popup.active & {
    background-color: rgba(24, 39, 85, 0.45);
    transition-duration: var(--fast);
  }
}

.popup__inner {
  align-self: center;
  background: #f8f7f5;
  color: var(--deep-blue-color);
  display: grid;
  grid-template:
    ". . close-button" var(--gutter)
    ". description ." auto
    / var(--gutter) auto var(--gutter);
  margin: var(--padding-v) auto;
  max-width: 768px;
  opacity: 0;
  padding: var(--gutter);
  position: relative;
  transform: translateY(1em);
  transition-property: box-shadow, opacity, transform;
  transition-duration: var(--slow);

  .popup.active & {
    opacity: 1;
    transform: none;
    transition-duration: var(--fast);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.31);
  }
}

.popup .shopify-section {
  grid-area: description;
}

.popup__close-button {
  align-self: flex-start;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  grid-area: close-button;
  padding: 0;

  &:focus {
    outline: none;
  }

  svg {
    display: block;
    margin: auto;
  }
}

.popup .section-header {
  text-align: center;
}

.popup  .section-subheader {
  text-align: center;
}

// Size options
.product-hero .option--size {

  input[type='radio'] {
    appearance: none;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
    color:  #1f1f1f4d;
    display: inline-block;
    font-size: 12px;
    grid-row: 1 / span 1;
    height: 1em;
    justify-self: center;
    width: 1em;

    &:checked {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' width='10' viewBox='0 0 10 10'%3E%3Cellipse cx='5' cy='5' rx='3' ry='3' fill='%23182755'/%3E%3C/svg%3E");
      color: inherit;
    }

    &:focus {
      outline-style: none;
    }

    & + label {
    }
    &:checked + label {
      color: inherit;
    }
  }

  .values {
    display: grid;
    grid-auto-flow: column;
  }

  .option-value {
    color:  #1f1f1f4d;
    display: inline-block;
    grid-row: 2 / span 1;
    margin: 0.25em;
    padding: 0.25em 1em;
    text-align: center;

    span::after {
      display: block;
      font: 8px/2 var(--font-sans-serif);
    }

    &.option--kid   span::after { content: "36 x 48" }
    &.option--twin  span::after { content: "41 x 60" }
    &.option--full  span::after { content: "48 x 72" }
    &.option--queen span::after { content: "60 x 80" }
    &.option--king  span::after { content: "80 x 87" }

    &::after {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 46px;
      margin: 0.50em 0 0;
      filter: grayscale(1) opacity(0.25);
    }
  }
  input[type='radio']:checked + .option-value {
    border-color: currentColor;
    color: inherit;

    &::after {
      filter: none;
    }
  }
}

// Weight options
.product-hero .option--weight {
  .option-values .values {
    column-gap: 0.25em;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 0.5em;
  }

  input[type='radio'] {
    align-self: center;
    appearance: none;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
    color:  #1f1f1f4d;
    display: inline-block;
    font-size: 12px;
    height: 1em;
    margin: 0;
    width: 1em;

    &:checked {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' width='10' viewBox='0 0 10 10'%3E%3Cellipse cx='5' cy='5' rx='3' ry='3' fill='%23182755'/%3E%3C/svg%3E");
      color: inherit;
    }

    &:focus {
      outline-style: none;
    }

    & + label {
    }
    &:checked + label {
      color: inherit;
    }
  }
  .option-value {
    color: #1f1f1f4d;
    text-transform: uppercase;

    .quick-add & {
      justify-self: flex-start;
    }

    &[title='5 lbs']::after {
      content: '50 lbs body weight';
    }
    &[title='7 lbs']::after {
      content: '70 lbs body weight';
    }
    &[title='10 lbs']::after {
      content: '100 lbs body weight';
    }
    &[title='12 lbs']::after {
      content: '120 lbs body weight';
    }
    &[title='15 lbs']::after {
      content: '150 lbs body weight';
    }
    &[title='17 lbs']::after {
      content: '170 lbs body weight';
    }
    &[title='20 lbs']::after {
      content: '200 lbs body weight';
    }
    &[title='22 lbs']::after {
      content: '220 lbs body weight';
    }
    &[title='25 lbs']::after {
      content: '250 lbs body weight';
    }
    &[title='30 lbs']::after {
      content: '300 lbs body weight';
    }

    &::after {
      font-size: 8px;
      margin-left: 1em;
      text-transform: uppercase;
    }
  }
}
