@import '../sections/product-detail';
@import '../sections/product-features';
@import '../sections/yotpo-reviews';
@import '../sections/product-suggestion';

@import '../snippets/checklist-section';
@import '../snippets/options';
@import '../snippets/product-full-bleed-media';
@import '../snippets/product-hero';
@import '../snippets/product-grid-item';
@import '../snippets/product-steps';
@import '../snippets/product-sticky-add-to-cart';
@import '../snippets/shop-more';

// Size page
@import '../sections/sizing-chart';
@import '../sections/weight-chart';


:root.popup--active {
  overflow: hidden;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  pointer-events: none;
  z-index: 9999;

  &.active {
    pointer-events: auto;
  }
  @include desktop-lg {
    --gutter: 34px;
  }
}

.popup__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: background-color, filter;
  transition-duration: var(--slow);

  .popup.active & {
    background-color: rgba(24, 39, 85, 0.45);
    transition-duration: var(--fast);
  }
}

.popup__inner {
  align-self: center;
  background: #f8f7f5;
  box-sizing: content-box;
  color: var(--deep-blue-color);
  display: grid;
  grid-template:
    ". . close-button" var(--gutter)
    ". description ." auto
    / var(--gutter) auto var(--gutter);
  margin: var(--padding-v) auto;
  max-height: calc(100vh - (var(--padding-v) * 2));
  max-width: 750px;
  opacity: 0;
  overflow: auto;
  padding: var(--gutter);
  position: relative;
  transform: translateY(1em);
  transition-property: box-shadow, opacity, transform;
  transition-duration: var(--slow);

  .popup.active & {
    opacity: 1;
    transform: none;
    transition-duration: var(--fast);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.31);
  }
}

.popup .shopify-section {
  grid-area: description;
}

.popup__close-button {
  align-self: flex-start;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  grid-area: close-button;
  padding: 0;

  &:focus {
    outline: none;
  }

  svg {
    display: block;
    margin: auto;
  }
}

.popup .section-header {
  text-align: center;
}

.popup  .section-subheader {
  text-align: center;
}
