<div class="cart-item">
  <a :href="item.url" class="cart-item__image">
    <img loading="lazy"
      v-if="item.featured_image && item.featured_image.url"
      :src="getSizedImageUrl(item.featured_image.url, '92x57_crop_center@2x')"
      :alt="item.featured_image.alt"
      loading="lazy"
    >
    <img loading="lazy"
      v-else
      src="https://via.placeholder.com/92x57"
      :alt="item.featured_image.alt"
      loading="lazy"
    >
  </a>

  <div class="cart-item__info">
    <h3 class="item-title"><a :href="item.url">${item.product_title}</a></h3>
    <span class="item-price">${item.line_price | formatMoney}</span>
    <p class="item-variants">
      ${getVariantOfType('Color', item.options_with_values)}<br v-if="getVariantOfType('Size', item.options_with_values) !== ''">
      ${getVariantOfType('Size', item.options_with_values)}<br v-if="getVariantOfType('Weight', item.options_with_values) !== ''">
      ${getVariantOfType('Weight', item.options_with_values)}
    </p>

    <div class="item-qty">
      <button @click="handleQtyClick(index + 1, item.quantity - 1)" class="qty__control minus">{% render 'svg-minus' %}</button>
      <span>${item.quantity}</span>
      <button @click="handleQtyClick(index + 1, item.quantity + 1, true)" class="qty__control plus">{% render 'svg-plus' %}</button>
    </div>

    <button @click="removeCartItem(index + 1)" class="item-remove">{% render 'svg-remove' %}</button>
  </div>
</div>
