<div class="checklist-section">
  <div class="checklist-section__inner">
    <div class="checklist-section__image">
      <div class="image-wrapper">
        <div class="fill-image">
          <img src="{{content.settings.image | img_url: '720x810', crop: 'center', scale: 2}}" />
        </div>
      </div>
    </div>
    <div class="checklist-section__content">
      <div class="checklist-section__content-inner">
        <h2 class="section-header">{{content.settings.header}}</h2>
        {{content.settings.list}}
      </div>
    </div>
  </div>
</div>
