<div class="collections-list">
  <div class="collections-list__inner">
    <div class="collections-list__header">
      <h2 class="section-header">{{ block.settings.header }}</h2>
    </div>
    <div class="collections-list__items">
      <div class="item-wrapper">
        <a class="collections-list__item">
          <button class="cta-button">Shop ___</button>
        </a>
      </div>
      <div class="item-wrapper">
        <a class="collections-list__item">
          <button class="cta-button">Shop ___</button>
        </a>
      </div>
      <div class="item-wrapper">
        <a class="collections-list__item">
          <button class="cta-button">Shop ___</button>
        </a>
      </div>
      <div class="item-wrapper">
        <a class="collections-list__item">
          <button class="cta-button">Shop ___</button>
        </a>
      </div>
    </div>
  </div>
</div>
