<div class="comparison-chart__main">
  <div class="comparison-chart__wrapper">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Luna</th>
          <th>Gravity</th>
          <th>Casper</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Price (15 lbs)</td>
          <td>$75</td>
          <td>$189</td>
          <td>$179</td>
        </tr>
        <tr>
          <td>Warranty</td>
          <td>Lifetime</td>
          <td>1-Year</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>Materials</td>
          <td>Cotton & Glass Beads</td>
          <td>Cotton & Glass<br>Beads</td>
          <td>Polyester & Poly Pellets</td>
        </tr>
        <tr>
          <td>Oeko-TEX Certified</td>
          <td>Yes</td>
          <td>No</td>
          <td>No</td>
        </tr>
        <tr>
          <td>Machine Washabale/ Dryable</td>
          <td>Yes</td>
          <td>No</td>
          <td>No</td>
        </tr>
        <tr>
          <td>Free Returns</td>
          <td>Yes</td>
          <td>No</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
