<div class="features-list">
  <div class="features-list__inner">
    <div class="features-list__header">
      <h2 class="section-header">{{ block.settings.title }}</h2>
      <h3 class="section-subheader">{{ block.settings.subtitle }}</h3>
    </div>
    <div class="features-list__items">
      <div class="features-list__item">
        <div class="item-inner">
          <div class="features-list__item-image">
            <div class="fill-image">
              <img src="" />
            </div>
          </div>
          <h4>100% Oeko-Tex Certified
  (better than organic)</h4>
          <h5>(For the Fussy Sleepers)</h5>
          <p>Our weighted blankets are sewn using natural, sustainable materials such as Oeko-tex certified cotton for a relaxed night’s sleep. </p>
        </div>
      </div>
      <div class="features-list__item">
        <div class="features-list__item-image">
        </div>
        <h4></h4>
        <h5></h5>
        <p></p>
      </div>
      <div class="features-list__item">
        <div class="features-list__item-image">
        </div>
        <h4></h4>
        <h5></h5>
        <p></p>
      </div>
    </div>
  </div>
</div>
