<div class="features-list">
  <div class="features-list__inner">
    <div class="features-list__header">
      <h2 class="section-header">{{ block.settings.title }}</h2>
      <h3 class="section-subheader">{{ block.settings.subtitle }}</h3>
    </div>
    <div class="features-list__items">
      <div class="features-list__item">
        <div class="features-list__item-image">
        </div>
        <h4></h4>
        <h5></h5>
        <p></p>
      </div>
      <div class="features-list__item">
        <div class="features-list__item-image">
        </div>
        <h4></h4>
        <h5></h5>
        <p></p>
      </div>
      <div class="features-list__item">
        <div class="features-list__item-image">
        </div>
        <h4></h4>
        <h5></h5>
        <p></p>
      </div>
    </div>
  </div>
</div>
