<div class="home-hero">
  <div class="home-hero__content">
    <div class="home-hero__content-inner">
      <h1>{{ block.settings.header }}</h1>
      <p>
        {{ block.settings.body }}
      </p>
      <a href="" class="cta-button">
        {{ block.settings.cta_text }}
      </a>
    </div>
  </div>
  <div class="home-hero__image">
    <div class="fill-image">
      <img src="{{}}" />
    </div>
  </div>
</div>