<div class="icons-section">
  <div class="icons-section__inner">
    <div class="icons-section__content">
      <div class="icons-section__content-inner">
        <h2 class="section-header">{{ block.settings.header }}</h2>
        <div class="icons-section__items">
          <div class="item-wrapper">
            <div class="icons-section__item">
              <img src="" alt="" />
              <p>
                Free shipping on orders over $50
              </p>
            </div>
          </div>
          <div class="item-wrapper">
            <div class="icons-section__item">
              <img src="" alt="" />
              <p>
                Free shipping on orders over $50
              </p>
            </div>
          </div>
          <div class="item-wrapper">
            <div class="icons-section__item">
              <img src="" alt="" />
              <p>
                Free shipping on orders over $50
              </p>
            </div>
          </div>
          <div class="item-wrapper">
            <div class="icons-section__item">
              <img src="" alt="" />
              <p>
                Free shipping on orders over $50
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="icons-section__image">
      <div class="image-wrapper">
        <div class="fill-image">
          <img src="" alt="Image" />
        </div>
      </div>
    </div>
  </div>
</div>
