<div id="vuecart" class="minicart" :class="{'is-open': miniCartIsOpen}">
  <div @click="closeMiniCart" class="minicart__background"></div>

  <div class="minicart__inner">
    <div class="cart-header">
      <div>
        <h2 class="section-header">Your Cart</h2>
        <h3 class="section-subheader">${getItems}</h3>
      </div>

      <button @click="closeMiniCart" class="cart-closer">{% render 'svg-close' %}</button>
    </div>

    <div class="cart-body">
      <template v-for="(item, index) in cartItems">
        {% render 'cart-item' %}
      </template>
    </div>

    {% render 'cart-bottom' %}
  </div>
</div>
