<div class="press">
  <div class="press__header">
    <h2>{{ block.settings.header }}</h2>
  </div>
  <div class="press__logos">
    <div class="press-logo">
      <img alt="Logo 1"/>
    </div>
    <div class="press-logo">
      <img alt="Logo 2"/>
    </div>
    <div class="press-logo">
      <img alt="Logo 3"/>
    </div>
    <div class="press-logo">
      <img alt="Logo 4"/>
    </div>
  </div>
  <div class="press__quote">
    <blockquote>
      &ldquo;Recent thing.&rdquo;
    </blockquote>
  </div>
</div>
