<div class="product__options" v-if="optionsWithValues.length > 1">
  <div v-bind="optionAttributes(option, optionIdx)" v-for="(option, optionIdx) in optionsWithValues">
    <h4 class="option-name option.name" @click="activateOption(optionIdx)">${option.name}<template v-if="options[optionIdx]">: ${options[optionIdx]}</template>{% render 'svg-down-arrow' %}</h4>

    <div class="option-values">
      <p class="size info-copy" v-if="option.name == 'Size'">
        All blankets are meant for individual use except for the King, which is suitable for sharing. Weighted blankets are smaller than traditional comforters because they're meant to cover your body not the bed. <a href="/pages/sizing" target="_blank" @click.prevent="openSizePopup">Sizing Chart</a>
      </p>

      <p class="weight info-copy" v-if="option.name == 'Weight'">
        Not sure about what weight to buy? Check out our <a href="/pages/sizing" target="_blank" @click.prevent="openWeightPopup">Weight Chart</a>
      </p>

      <div class="values">
        <span class="value" v-for="(value, valIdx) in availableOptionValues(optionIdx)">
          <input
            v-bind="inputOptionAttributes(product, option, value)"
            v-model="options[optionIdx]"
            :disabled="isInputDisabled(optionIdx, value)"
            type="radio"
            :value="value"
            @change="handleOptionChange({optionIdx})"
          >
          <label v-bind="labelOptionAttributes(product, option, value)" :title="value">
            <span class="option-value__value">${value}</span>
            <span class="option-value__info"></span>
            <span class="option-value__image"></span>
          </label>
        </span>
      </div>

    </div>
  </div>

  <select name="id" v-model="selectedVariant.id" class="variants" v-if="selectedVariant">
    <option v-for="variant in product.variants" v-bind:value="variant.id">${variant.title} - ${variant.id}</option>
  </select>
</div>
<div class="product__options" v-else>
</div>
