<div class="products-slider">
  <div class="products-slider__header">
    <h2 class="section-header">{{ block.settings.header }}</h2>
  </div>
  <div class="products-slider__main">
    Slider.
  </div>
  <div class="products-slider__cta">
    <a class="cta-button">
      {{ block.settings.cta_text }}
    </a>
  </div>
</div>
