<div class="testimonials">
  <div class="testimonials__header">
    <h2 class="section-header">{{ block.settings.header }}</h2>
  </div>
  <div class="testimonials__slider">
    Slider.
  </div>
  <div class="testimonials__cta">
    <a class="cta-button cta-button_dark">
      {{ block.settings.cta_text }}
    </a>
  </div>
</div>
