.features-list {
  overflow: hidden;

  &.features-list-background--blue {
    background: var(--secondary-brand-color);

    :root.color-scheme--dark & {
      background-color: var(--primary-brand-color);
      color: var(--white-color);
    }
  }
}

.features-list__inner {
  margin: var(--padding-v) auto;
  max-width: var(--page-width);
}

.features-list__header {
  margin: 0 auto;
  max-width: 920px;
  padding: 0 var(--gutter);
  text-align: center;

  h3 > p {
    font-family: var(--font-sans-serif);
    font-style: normal;
    line-height: 1.78;

    > em {
      font-family: var(--font-serif);
      font-style: italic;
    }
  }
}

.features-list__items {
  outline: 0;
  overflow-y: hidden;
  margin-top: 80px;
  padding: 0 0 50px 0;
  position: relative;

  &:after {
    content: 'flickity';
    display: none; /* hide :after */
  }

  @include tablet-portrait {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    /* disable Flickity for large devices */
    &:after {
      content: '';
    }
  }
}

.features-list__item {
  box-sizing: content-box;
  padding: 0 var(--gutter);
  padding: 0 12px;
  text-align: center;
  flex: 0 1 312px;

  @include tablet-portrait {
    padding: 0 var(--gutter-half);
  }

  @include tablet-landscape {
    padding: 0 var(--gutter);
  }

  h5 {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.71;
  }

  p {
    line-height: 1.75;
    margin-bottom: 0;
  }
}

.features-list__item-header {
  margin: 20px 0;

  @include tablet-portrait {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 56px;
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
  }
}

.features-list__item-image {
  width: 100%;
  padding-bottom: 100%;
  position: relative;

  .fill-image {
    background-color: transparent;
    border-radius: 200px;
    overflow: hidden;
  }
}
