.features-list {
  overflow: hidden;

  &.features-list-background--blue {
    background: var(--secondary-brand-color);

    :root.color-scheme--dark & {
      background-color: var(--primary-brand-color);
      color: var(--white-color);
    }
  }
}

.features-list__inner {
  margin: var(--padding-v) auto;
  max-width: var(--page-width);
}

.features-list__header {
  margin: 0 auto;
  max-width: 920px;
  padding: 0 var(--gutter);
  text-align: center;

  h3 > p {
    font-family: var(--font-sans-serif);
    font-style: normal;
    line-height: 1.78;

    > em {
      font-family: var(--font-serif);
      font-style: italic;
    }
  }
}

.features-list__items {
  outline: 0;
  overflow-y: hidden;
  margin-top: var(--padding-v);
  padding: 0 0 50px 0;
  position: relative;

  &:after {
    content: 'flickity';
    display: none;
  }

  @include tablet-portrait {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    /* disables Flickity for large devices */
    &:after {
      content: '';
    }
  }
}

.features-list__item {
  box-sizing: border-box;
  padding: 0 var(--gutter);
  padding: 0 12px;
  text-align: center;
  width: 100%;

  @include tablet-portrait {
    flex: 0 0 calc(100%/3);
    padding: 0 var(--gutter-half);
    width: auto;
  }

  @include tablet-landscape {
    padding: 0 var(--gutter);
  }

  h5.features-list__item-subheader {
    font-family: var(--font-serif);
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.71;
    margin: 1em 0;

    &:empty {
      display: none;
    }
  }

  p {
    line-height: 1.75;
    margin-bottom: 0;
  }
}

.features-list__item-header {
  font-size: 20px;
  margin: 20px 0;

  @include tablet-portrait {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 2.8em;
  }

  h4 {
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
  }
}

.features-list__item-image {
  width: 100%;
  padding-bottom: 100%;
  position: relative;

  .fill-image {
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
  }
}
