@import '../responsive';

.page-hero {
  background-color: var(--secondary-brand-color);
  overflow-x: hidden;
  text-align: center;
  width: 100%;

  :root.color-scheme--dark & {
    background-color: var(--primary-brand-color);
    color: white;
  }

  &:first-child {
    margin-top: calc(var(--header-height) * -1);
  }
}

.page-hero__content {
  box-sizing: content-box;
  margin: 130px auto var(--padding-v);
  padding: 0 var(--gutter);
  max-width: 656px;

  @include tablet-portrait {
    margin-top: 180px;
  }

  .page-hero__title {
    font-family: var(--font-serif);
    font-size: 36px;
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 1em;
    line-height: 1;

    @include tablet-portrait {
      font-size: var(--font-size-h0);
    }
  }

  .page-hero__body {

    p {
      font-size: 18px;
      line-height: 1.78;
    }
  }
}

.page-hero__images-container {
  background-color: var(--offwhite-color);
  padding-bottom: 40vw;
  margin-top: calc(10vw + var(--padding-v-desktop));
  position: relative;
  width: 100%;

  @include tablet-portrait {
    padding-bottom: 16vw;
    margin-top: calc(12vw + var(--padding-v-desktop));
  }
}

.page-hero__images {
  bottom: 0;
  display: flex;
  position: absolute;
  left: -70%;
  width: 320%;

  @include tablet-portrait {
    left: -12.5%;
    width: 125%;
  }
}

.page-hero__image-wrapper {
  flex: 0 0 auto;
  padding: 8px;
  width: 25%;

  @include tablet-portrait {
    padding: var(--gutter);
  }
}

.page-hero__image {
  background-color: white;
  padding-bottom: 100%;
  position: relative;
}
