@import '../responsive';

.page-hero {
  margin-top: calc(var(--header-height) * -1);
  text-align: center;
}

.page-hero__content {
  overflow: hidden;
  padding: 0 var(--gutter);

  &.background--blue {
    background-color: var(--secondary-brand-color);

    :root.color-scheme--dark & {
      background-color: var(--primary-brand-color);
      color: white;
    }
  }


  .page-hero__title {
    font-family: var(--font-serif);
    font-size: 36px;
    font-size: 32px;
    font-weight: normal;
    line-height: 1;
    margin: calc(var(--header-height) + 1em) 0 1em;

    @include tablet-portrait {
      font-size: var(--font-size-h0);
    }
  }

  .page-hero__body {
    &:last-child {
      margin-bottom: var(--padding-v);
    }

    p {
      font-size: 18px;
      line-height: 1.78;
    }
  }
}

.page-hero__content-inner {
  margin: auto;
  max-width: 656px;
}

.page-hero__images-container {
  background-size: auto 50%;
  background-repeat: no-repeat;

  overflow: hidden;
  position: relative;

  @include small-viewport {
    padding: 0 var(--gutter);
  }

  &.background--blue {
    background-image: linear-gradient(var(--secondary-brand-color), var(--secondary-brand-color));

    :root.color-scheme--dark & {
      background-image: linear-gradient(var(--primary-brand-color), var(--primary-brand-color));
    }
  }
}

.page-hero__images {
  bottom: 0;
  position: relative;

  @include tablet-landscape {
    column-gap: var(--gutter);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 -8.056%;
  }
}

.page-hero__image-wrapper {
  &:not(:nth-child(2)) {
    @include small-viewport {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &:nth-child(1) {
    @include small-viewport {
      display: block;
      transform: translate(calc(-100% - 16px));
    }
  }

  &:nth-child(3) {
    @include small-viewport {
      display: block;
      transform: translate(calc(100% + 16px));
    }
  }
}

.page-hero__image {
  img {
    display: block;
    width: 100%;
  }
}

.page-hero .linklist {
  box-sizing: content-box;
  margin: 40px auto var(--padding-v);
  max-width: 424px;

  .parent-link-wrapper {
    border-top: 1px solid darken(#dae8f0, 15);
    list-style: none;
    padding: 0;

    > a {
      color: var(--primary-brand-color);
      display: block;
      font-size: var(--font-size-p-lg);
      font-weight: 500;
      margin: .6em 0;
      position: relative;
      text-align: left;
      text-decoration: none;

      &:after {
        content: '';
        display: block;
        height: 16px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 10px;
        position: absolute;
      }
    }

    &:last-child {
      border-bottom: 1px solid darken(#dae8f0, 15);
    }
  }

  .child-links {
    margin: 1em 0;
  }
}
