@import '../responsive';

.page-hero {
  margin-top: calc(var(--header-height) * -1);
  text-align: center;
}

.page-hero__content {
  overflow: hidden;
  padding: 0 var(--gutter);

  &.background--blue {
    background-color: var(--secondary-brand-color);

    :root.color-scheme--dark & {
      background-color: var(--primary-brand-color);
      color: white;
    }
  }

  .page-hero__title {
    font-family: var(--font-serif);
    font-size: 36px;
    font-size: 32px;
    font-weight: normal;
    line-height: 1;
    margin: calc(var(--header-height) + 1em) 0 1em;

    @include tablet-portrait {
      font-size: var(--font-size-h0);
    }
  }

  .page-hero__body {
    &:last-child {
      margin-bottom: var(--padding-v);
    }

    p {
      font-size: 18px;
      line-height: 1.78;
    }
  }
}

.page-hero__content-inner {
  margin: auto;
  max-width: 750px;
}

.page-hero__images-container {
  background-size: 100% 50%;
  background-repeat: no-repeat;

  overflow: hidden;
  position: relative;

  &.background--blue {
    background-image: linear-gradient(
      var(--secondary-brand-color),
      var(--secondary-brand-color)
    );

    :root.color-scheme--dark & {
      background-image: linear-gradient(
        var(--primary-brand-color),
        var(--primary-brand-color)
      );
    }
  }
}

.page-hero__images:not(.flickity-enabled) {
  bottom: 0;
  position: relative;

  @include tablet-landscape {
    column-gap: var(--gutter);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 -8.056%;
  }
}

.page-hero__images.flickity-enabled {
  height: auto;
}

.page-hero__image-wrapper {
  .page-hero__images.flickity-enabled & {
    padding: 0 calc(var(--gutter)/2);
  }
}


.page-hero__image {
  .page-hero__images.flickity-enabled & {
    width: calc( 100vw - (var(--gutter) * 4) );

    @media (min-width: 768px) {
      width: calc(100vw * (388/1440));
    }
  }

  img {
    display: block;
    width: 100%;
  }
}

.page-hero .linklist {
  box-sizing: content-box;
  margin: 40px auto var(--padding-v);
  max-width: 424px;

  .parent-link-wrapper {
    border-top-width: 1px;
    border-top-style: solid;

    list-style: none;
    padding: 0;

    > a {
      display: block;
      font-size: var(--font-size-p-lg);
      font-weight: 500;
      margin: 0.6em 0;
      position: relative;
      text-align: left;
      text-decoration: none;

      &:after {
        content: '';
        display: block;
        height: 16px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 10px;
        position: absolute;
      }
    }

    &:last-child {
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }
  }

  .child-links {
    margin: 1em 0;
  }
}

.page-hero .background--blue .linklist .parent-link-wrapper {
  border-top-color: #a4c6da;
  &:last-child {
    border-bottom-color: #a4c6da;
  }
}

:root.color-scheme--dark
  .page-hero
  .background--blue
  .linklist
  .parent-link-wrapper {
  border-top-color: #ffffff4d;

  &:last-child {
    border-bottom-color: #ffffff4d;
  }
}

.page-hero .background--gray .linklist .parent-link-wrapper {
  border-top-color: #1827554d;
  &:last-child {
    border-bottom-color: #1827554d;
  }
}

.page-hero .background--blue .linklist .parent-link-wrapper > a::after {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.884L1.906 0 10 8l-8.094 8L0 14.116 6.187 8z' fill='%23182755' fill-rule='nonzero'/%3E%3C/svg%3E");

  :root.color-scheme--dark & {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.884L1.906 0 10 8l-8.094 8L0 14.116 6.187 8z' fill='%23ffffff' fill-rule='nonzero'/%3E%3C/svg%3E");
  }
}

.page-hero .background--gray .linklist .parent-link-wrapper > a::after {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.884L1.906 0 10 8l-8.094 8L0 14.116 6.187 8z' fill='%23182755' fill-rule='nonzero'/%3E%3C/svg%3E");
}
