.products-slider {
  padding: var(--padding-v-mobile) 0;

  @include tablet-portrait {
    padding: var(--padding-v-desktop) 0;
  }
}

.products-slider__header {
  margin-bottom: 80px;
  text-align: center;
}

.products-slider__main {
  outline: 0;
  overflow-y: hidden;
  padding: 0 0 90px 0;
  position: relative;
}

.products-slider__slide {
  padding: 0 var(--gutter);
  width: 33.33%;
}

.products-slider__item {
  margin: 0 auto;
  width: 400px;
}

.products-slider__item-image {
  padding-bottom: 100%;
  position: relative;
}

.products-slider__cta {
  margin-top: 80px;
  text-align: center;
}

/* add-to-cart component */

.add-to-cart-wrapper {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

// Colors component

.products-slider__item-content {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.products-slider__item-details {
  flex: 1 1 100%;

  h4 {
    margin-top: 0;
  }
}

.color-options {
  flex: 0 0 auto;
  width: 80px;

  button {
    appearance: none;
    background-color: var(--primary-brand-color);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 4px;
    outline: none;
    padding: 0;
    position: relative;
    vertical-align: bottom;
    width: 12px;

    &.active {
      &:after {
        border: 1px solid var(--primary-brand-color);
        border-radius: 30px;
        content: '';
        display: block;
        position: absolute;
        bottom: -2px;
        left: -2px;
        right: -2px;
        top: -2px;
      }
    }
  }
}