.products-slider {
  padding: var(--padding-v-mobile) 0;

  @include tablet-portrait {
    padding: var(--padding-v-desktop) 0;
  }
}

.products-slider__header {
  margin-bottom: 80px;
  text-align: center;
}

.products-slider__main {
  outline: 0;
  overflow-y: hidden;
  padding: 0 0 90px 0;
  position: relative;

  .flickity-prev-next-button {
    appearance: none;
    background-color: transparent;
    background-size: 12px 20px;
    border: 0;
    cursor: pointer;
    height: 20px;
    width: 12px;
    padding: 0;
    position: absolute;
    bottom: 0;

    &.previous {
      left: 50%;
      transform: translateX(-300%);
    }

    &.next {
      right: 50%;
      transform: translateX(300%);
    }

    &:disabled {
      opacity: .4;
    }
  }
}

.products-slider__slide {
  padding: 0 var(--gutter);
  width: 33.33%;
}

.products-slider__item {
  margin: 0 auto;
  width: 400px;
}

.products-slider__item-image {
  padding-bottom: 100%;
  position: relative;
}

.products-slider__cta {
  margin-top: 80px;
  text-align: center;
}

/* add-to-cart component */

.add-to-cart-wrapper {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

