@import '../responsive';

.shopify-section-product-steps {
  // overflow: hidden;
  // background: var(--light-blue-color);
}

.product-steps {
  margin: var(--padding-v) 0;
}

.product-steps__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--page-width);

  @include tablet-portrait {
    align-items: flex-start;
    flex-direction: row;
  }
}

.product-steps__image {
  flex: 0 0 auto;

  .image-wrapper {
    padding-bottom: 120%;
    position: relative;
  }

  .fill-image {
    opacity: 0;
    transition: opacity var(--fast);

    &.active {
      opacity: 1;
    }
  }

  @include tablet-portrait {
    flex: 0 0 50%;
  }
}

.product-steps__content {
  padding: var(--padding-v-mobile) var(--gutter) 0;

  @include tablet-portrait {
    flex: 0 0 auto;
    padding: 0 var(--gutter);
    width: 50%;
  }

  .product-steps_has_image & {
    @include tablet-portrait {
      padding-top: 15%;
    }
  }
}

.product-steps__content-inner {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;

  p {
    font-size: var(--font-size-p-lg);
  }
}

.product-steps__choices {
  display: flex;
  justify-content: center;
  margin: 35px auto;
  outline: 0;

  button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 28px;
    font-weight: 500;
    opacity: .3;
    outline: 0;
    margin: 0 20px;
    padding: 0;

    &.active {
      opacity: 1;
    }
  }
}

.product-steps__items {
  display: grid;
  grid-template: item-1 item-2 item-3 auto / 1fr 1fr 1fr;
}

.product-steps__item {
  opacity: 0;
  transform: translateY(20px);

  &.active {
    opacity: 1;
    transform: none;
    transition-property: opacity, transform;
    transition-duration: var(--slow);
  }

  &.item_1 {
    grid-area: item-1;
  }
  &.item_2 {
    grid-area: item-2;
  }
  &.item_3 {
    grid-area: item-3;
  }

}
