@import './cart-item';

.minicart {
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: var(--z-navigation);

  &.is-open {
    pointer-events: auto;
    transition-duration: var(--fast);
  }

  &__background {
    background: var(--deep-blue-color);
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-property: background-color, opacity;
    transition-duration: var(--slow);

    .is-open & {
      opacity: 0.5;
    }
  }

  &__inner {
    background: var(--light-pink);
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-y: scroll;
    padding: 0 40px;
    position: relative;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: var(--slow);
    width: 100%;
    max-width: 580px;

    .is-open & {
      transform: none;
    }
  }

  .cart-body {
    display: grid;
    align-content: flex-start;
    grid-template-rows: max-content;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }


  .cart-bottom {
    align-self: flex-end;
    background: inherit;
    padding: var(--gutter-half) 0 40px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;

    &-row {
      display: flex;
      justify-content: space-between;
      line-height: 1.75;
    }

    .cta-button.cart-checkout-link {
      justify-content: center;
      margin: var(--gutter) 0 0;
      width: -webkit-fill-available;
    }

    .cart-discounts {
      span {
        display: block;
      }
    }
  }

  .cart-closer {
    all: unset;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    justify-self: flex-end;
  }

  .cart-header {
    border-bottom: 1px solid var(--deep-blue-color);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 40px 0;

    & > div {
      display: flex;
      align-items: baseline;
    }

    h2,
    h3 {
      margin: 0;

      &.section-subheader {
        margin-left: 0.75em;
      }
    }
  }
}
