.product__options {
  counter-reset: my-sec-counter;
  font: 500 12px/1.6 var(--font-sans-serif);
  list-style-position: inside;
  list-style-type: decimal;
  margin-bottom: 40px;

  .product-grid-item & {
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
  }
}

.product__option {
  color: var(--light-blue-color);

  &.active {
    color: var(--deep-blue-color);
  }
}

.option {
  cursor: pointer;
}

.option-name::before {
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter, decimal-leading-zero) '. ';
}
.option-name.Color::before {
  content: counter(my-sec-counter, decimal-leading-zero) '. Choose a\00a0';
}
.option-name.Size::before {
  content: counter(my-sec-counter, decimal-leading-zero) '. Choose your\00a0';
}
.option-name.Weight::before {
  content: counter(my-sec-counter, decimal-leading-zero)
    '. Choose your blanket\00a0';
}

.option-name {
  border-bottom: 1px solid;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  font: 500 10px/1.6 var(--font-sans-serif);
  letter-spacing: 1.2px;
  padding: 1em 0;
  text-align: left;
  text-transform: uppercase;

  @include tablet-portrait {
    font-size: 12px;
  }

  .svg-down-arrow {
    align-self: center;
    transform: rotate(180deg);

    .collection__product-grid & {
      @include small-viewport {
        display: none;
      }
    }
  }

  .product_option.active & .svg-down-arrow {
    transform: none;
  }
}

.option--color {
  input[type='radio'] {
    display: none;
  }

  .option-value {
    background-size: cover;
    border: 1px solid white;
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-block;
    margin: 1px 0.5em 1px 0;
    height: calc(2em - 4px);
    width: calc(2em - 4px);

    span {
      display: none;
    }
  }

  input[type='radio']:checked + .option-value {
    box-shadow: 0 0 0 1.4px black;
  }
}

.option-values {
  display: none;

  .collection__product-grid & {
    @include small-viewport {
      display: block;
    }
  }
}
.product_option.active .option-values {
  display: block;
}
