.product__options {
  counter-reset: my-sec-counter;
  font: 500 10px/1.6 var(--font-sans-serif);
  list-style-position: inside;
  list-style-type: decimal;
}

.product__option {
  color: var(--light-blue-color);

  &.active {
    color: var(--deep-blue-color);
  }
}

.option {
  cursor: pointer;
}

.option-name::before {
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter, decimal-leading-zero) '. ';
}
.option-name.Color::before {
  content: counter(my-sec-counter, decimal-leading-zero) '. Choose a\00a0';
}
.option-name.Size::before {
  content: counter(my-sec-counter, decimal-leading-zero) '. Choose your\00a0';
}
.option-name.Weight::before {
  content: counter(my-sec-counter, decimal-leading-zero)
    '. Choose your blanket\00a0';
}

.option-name {
  border-bottom: 1px solid;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  font: 500 10px/1.6 var(--font-sans-serif);
  text-align: left;
  text-transform: uppercase;

  .svg-down-arrow {
    align-self: center;
    transform: rotate(180deg);
  }

  .product_option.active & .svg-down-arrow {
    transform: none;
  }
}

.option--color {
  input[type='radio'] {
    display: none;
  }

  .option-value {
    background-size: cover;
    border: 1px solid white;
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-block;
    margin: 1px 1em;
    height: calc(2em - 4px);
    width: calc(2em - 4px);

    span {
      display: none;
    }
  }

  input[type='radio']:checked + .option-value {
    box-shadow: 0 0 0 1px black;
  }
}

.option--size {
  input[type='radio'] {
    display: none;
  }

  .option-value {
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    color: #00000088;
    display: inline-block;
    margin: 0.25em;
    padding: 0.25em 1em;
  }
  input[type='radio']:checked + .option-value {
    border-color: currentColor;
    color: inherit;
  }
}

.option--weight {
  .option-values {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  input[type='radio'] {
    appearance: none;
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 12px;
    width: 1em;
    height: 1em;

    &:checked {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' width='10' viewBox='0 0 10 10'%3E%3Cellipse cx='5' cy='5' rx='3' ry='3' fill='%23182755'/%3E%3C/svg%3E");
      color: inherit;
    }

    &:focus {
      outline-style: none;
    }

    & + label {
    }
    &:checked + label {
      color: inherit;
    }
  }
  .option-value {
    text-transform: uppercase;

    .quick-add & {
      justify-self: flex-start;
    }

    &[title='5 lbs']::after {
      content: '50 lbs body weight';
    }
    &[title='7 lbs']::after {
      content: '70 lbs body weight';
    }
    &[title='10 lbs']::after {
      content: '100 lbs body weight';
    }
    &[title='12 lbs']::after {
      content: '120lbs body weight';
    }
    &[title='15 lbs']::after {
      content: '150lbs body weight';
    }
    &[title='17 lbs']::after {
      content: '170lbs body weight';
    }
    &[title='20 lbs']::after {
      content: '200lbs body weight';
    }
    &[title='22 lbs']::after {
      content: '220lbs body weight';
    }
    &[title='25 lbs']::after {
      content: '250lbs body weight';
    }
    &[title='30 lbs']::after {
      content: '300lbs body weight';
    }

    &::after {
      font-size: 8px;
      margin-left: 1em;
    }
  }
}

.product_option:not(.active) .option-values {
  display: none;
}
