.product-upsell {
  padding: 0 0 40px;
  position: relative;

  .cart & {
    grid-column: 2;
  }

  h3.section-subheader {
    font-size: 14px;
    margin: 10px 0 12px;
  }

  .cta-button {
    width: 100%;
  }

  .upsell {
    background: var(--white-color);
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 12px 16px 12px 0;

    &__add {
      align-self: center;
    }

    &__form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 36px 0 0;

      &-wrapper {
        display: grid;
        grid-template-rows: auto 1fr;
        height: 100%;

        .item-variants span {
          display: block;
        }
      }
    }

    &__image {
      img {
        max-width: 92px;
        mix-blend-mode: multiply;

        @media (min-width: 768px) {
          max-width: 138px;
        }
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        text-decoration: underline;
        text-transform: uppercase;
      }

      h4 {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}
