@import '../responsive';

.product-hero {
  padding-bottom: var(--padding-v-desktop);
  position: relative;

  @include tablet-landscape {
    margin-top: calc(var(--header-height) * -1);
    padding-bottom: 0;
  }
}

.product-hero__corner {
  grid-area: corner-badge;
  position: relative;
  left: calc(var(--gutter) * -1);
  display: none;

  @include tablet-landscape {
    align-self: flex-end;
    display: block;
    position: relative;
  }

  &[v-cloak] {
    display: none;
  }

  img {
    display: block;
  }
}

.product-hero__inner {
  display: grid;
  grid-template:
    'title' auto
    'image' auto
    'form' auto
    'info' auto
    / auto;
  padding: 0 var(--gutter);
  position: relative;
  row-gap: 1em;

  @include tablet-landscape {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:
      var(--header-height)
      minmax(102px, auto)
      auto
      1fr;
    min-height: calc(100vh - var(--banner-height));
  }

  &:not(.has-variants) {
    @include tablet-landscape {
      align-self: center;
      grid-template-areas:
        '.            .     form'
        'title        title form'
        'info         image form'
        'corner-badge image form';
    }
  }

  &.has-variants {
    @include tablet-landscape {
      grid-template-areas:
        '.            .     .   '
        'title        title form'
        'info         image form'
        'star-rating  image form'
        'corner-badge image form';
    }
  }

  @include tablet-landscape {
    // grid-template-columns: 7fr 11fr 7fr;
    grid-template-columns: 336fr 672fr 312fr;
    // grid-template-columns: 336px auto 312px;
  }

  @include desktop-xl {
    grid-template-columns: 336fr 672fr 312fr;
  }
}

.product-hero__title {
  align-self: center;
  font-family: var(--font-serif);
  font-weight: normal;
  font-size: 36px;
  grid-area: title;
  line-height: 1.11;
  margin: 1em auto 0;
  max-width: 453px;
  position: relative;
  text-align: center;

  @include tablet-landscape {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1.2;
    margin: 0;
    position: relative;
    text-align: left;
  }
}

.product-hero__info {
  grid-area: info;
  margin-top: var(--padding-v-mobile);
  order: 10;

  @include tablet-landscape {
    margin-top: 0;
    position: relative;
  }
}

.product-hero__image {
  align-self: flex-start;
  background: var(--offwhite-color);
  grid-area: image;

  @include tablet-landscape {
    grid-area: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  img {
    display: block;
    mix-blend-mode: multiply;
    position: relative;
    transition: opacity var(--slow);
    width: 100%;

    @include tablet-landscape {
      height: 100%;
      margin: auto;
      object-fit: contain;
      width: 50%;
    }
  }

  &[v-cloak] {
    display: block;

    img {
      opacity: 0;
    }
  }
}

.product-hero .product__options {
  flex-grow: 1;
  grid-area: options;
}

.product-hero__form {
  align-self: center;
  display: flex;
  flex-direction: column;
  grid-area: form;
  // margin: 3em 0;
  position: relative;

  @include tablet-landscape {
    position: sticky;
    top: var(--header-height);
    // bottom: 0;
  }

  &[v-cloak] {
    display: none;
  }

  .has-variants & {
    @include tablet-landscape {
      align-self: stretch;
      align-self: flex-start;
      margin: 52px 0;
    }
  }

  .product__options {
    // flex-grow: 1;
    // margin: 2em 0;

    &:empty {
      display: none;
    }
  }

  .option--color {
    font-size: 18px;
  }

  .variants {
    display: none;
  }
}

// Product Tabs
.product-tabs {
}

.product-tabs__header {
  position: relative;

  &:before {
    background-color: #1f1f1f;
    content: '';
    display: block;
    height: 1px;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    opacity: 0.3;
    outline: 0;
    margin-right: 30px;
    padding: 0.75em 0;
    z-index: 1;

    &.selected {
      border-bottom: 1px solid var(--font-color);
      opacity: 1;
    }
  }
}

.product-tabs__content {
  font-size: 12px;

  h4 {
    margin: 1em 0;
  }

  ul {
    padding-left: 1.5em;
  }

  strong {
    font-size: 1.2em;
    font-weight: 500;
  }
}

// Product Form
.quantity-and-price {
  align-items: center;
  display: flex;
  display: grid;
  grid-template: 'quantity-selector price compare-at-price' auto / 1fr 1fr auto;
  justify-content: space-between;
  margin: 40px 0;

  // @media (min-width: 992px) and (max-width: 1359px) {
  //   grid-template: "quantity-selector quantity-selector" auto "price compare-at-price" auto / 1fr 1fr;
  //   row-gap: 1em;
  // }

  .quantity-selector-outer {
    grid-area: quantity-selector;
  }

  .quantity-selector {
    border: 1px solid var(--primary-brand-color);
    border-radius: 48px;
    display: grid;
    font-weight: 500;
    grid-template-columns: 48px auto 48px;
    grid-template-rows: 48px;

    input {
      appearance: none;
      background: none;
      border: 0;
      color: inherit;
      font-size: 14px;
      min-width: 0;
      padding: 0;
      text-align: center;
      width: auto;
    }

    button {
      appearance: none;
      background: none;
      cursor: pointer;
      border: 0;
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-size: larger;
      outline: 0;
      border-radius: 0 0 24px 24px;
      text-align: center;

      &[aria-label='Decrement quantity'] {
        border-radius: 24px 0 0 24px;
      }

      &[aria-label='Increment quantity'] {
        border-radius: 0 24px 24px 0;
      }
    }
  }

  .price,
  .compare-at-price {
    font-size: 24px;
    font-weight: 500;

    @media (min-width: 992px) and (max-width: 1359px) {
      font-size: 16px;
    }
  }

  .price {
    grid-area: price;
    text-align: center;
  }

  .compare-at-price {
    color: #1f1f1f4d;
    font-size: 24px;
    font-weight: 500;
    grid-area: compare-at-price;
    text-align: right;
    text-decoration: line-through;

    @media (min-width: 992px) and (max-width: 1359px) {
      font-size: 16px;
    }
  }
}

#AddToCartForm {
  .form-button {
    display: block;
    margin-top: 40px;
    width: 100%;
  }

  .bis-trigger,
  .form-message {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
  }

  .form-message {
    opacity: 0;
    transition: opacity var(--slow);

    &.active {
      opacity: 1;
    }

    &.affirm-as-low-as {
      // margin: var(--gutter) 0;
    }
  }

  .bis-trigger {
    pointer-events: none;
    position: absolute;

    &.active {
      pointer-events: auto;
      position: static;
    }
  }

  a#BIS_trigger {
    text-decoration: underline;
  }
}

.featured-review {
  border-top: 1px solid #1f1f1f4d;
  font-family: var(--font-serif);
  font-size: 16px;
  font-style: normal;
  letter-spacing: -0.01em;
  line-height: 1.63;
  padding-top: 1em;
}

.yotpo.bottomLine {
  position: relative;

  .yotpo-display-wrapper {
    font-size: 16px;

    .yotpo-stars {
      margin-right: 0.5em;

      .yotpo-icon {
        line-height: 0.85;
        margin-right: 0.1em;

        &::before {
          font-size: 13px;
        }
      }
    }
    .write-review-btn-hidden {
      display: none;
    }
    a {
      font-family: var(--font-serif);
      letter-spacing: -0.02em;
    }
    .yotpo-regular-box,
    .sentence-container {
      padding: 0;
      margin: 0;
    }
    .shoppers-say-title,
    .review-stars,
    .display-name,
    .icon-holder {
      display: none;
    }
    .single-sentence-text-content {
      margin: 0;

      .sentence {
        font-family: var(--font-serif);
        font-size: 16px;
        font-style: normal !important;
        line-height: 1.63;
        padding-right: 1em;
      }
    }
  }
}
