.shop-more {
  margin: var(--padding-v) 0;
  padding: 0 var(--gutter);
}

.shop-more__title {
  font: normal 40px/1.2 var(--font-serif);
  text-align: center;
}

.shop-more__grid {
  display: grid;
  column-gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  margin: var(--padding-v) 0;
  row-gap: 16px;

  @include tablet-portrait {
    column-gap: 24px;
    row-gap: 24px;
  }


  @include tablet-portrait {
    grid-template-columns: repeat(3, 1fr);
  }
}
