body#privacy-policy,
body#refund-policy,
body#shipping-policy,
body#terms-of-service {
  .main {
    margin-top: calc(var(--header-height) * -1);
    padding-top: var(--header-height);
    background-image: linear-gradient(#dae8f0, #f8f7f5);
  }
}



:root .shopify-policy__container {
  margin-bottom: var(--padding-v);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.shopify-policy__title {
  grid-area: title;
  text-align: left;

  h1 {
    font-family: var(--font-serif);
    font-weight: normal;

    @include tablet-portrait {
      font-size: 52px;
    }
  }
}

.shopify-policy__body {
  font-family: var(--font-serif);

  a {
    text-decoration: underline;
  }
}
