@import './responsive';

:root {
  // Header height
  @media (max-width: 767px) {
    --header-height: 72px;
    --padding-v: 40px;
  }

  @media (min-width: 768px) {
    --header-height: 100px;
    --padding-v: 80px;
  }

  // Transition durations
  --fast: 400ms;
  --slow: 800ms;

  // Fonts
  --font-serif: 'Sabon', serif;
  --font-sans-serif: 'CentraNo2', sans-serif;

  --font-size-base: 16px;
  --font-size-h0: 52px;
  --font-size-p-lg: 20px;
  --font-size-p: var(--font-size-base);

  // Colors
  --deep-blue-color: #182755;
  --light-blue-color: #dae8f0;
  --light-pink: #f8f7f5;
  --offwhite-color: #f8f7f5;
  --white-color: #fff;
  --primary-brand-color: var(--deep-blue-color);
  --secondary-brand-color: var(--light-blue-color);
  --font-color: var(--deep-blue-color);

  // Color options
  --dark-grey: #8F8E93;
  --ivory: #F4F1E9;
  --light-blue: #C7DDEF;
  --light-grey: #B9B9BB;
  --navy: #000080;
  --white: #F4F1E9;
  --pink: #ffd5cd;


  // Sizing
  --gutter: 24px;
  --gutter-half: 12px;
  --page-width: 1360px;
  --page-width-sm: 1060px;
  --padding-v-desktop: 80px;
  --padding-v-mobile: 40px;
  --banner-height: 40px;

  @include desktop-lg {
    --gutter: 60px;
  }


  // Z-index
  --z-modal: 30;
  --z-navigation: 20;
  --z-priority-content: 10;
  --z-content: 1;
}
