:root {
  // Left and right page gutter. Can be set using multiple @media breakpoints. Example:
  @media (max-width: 767px) {
    --gutter: 16px;
  }

  @media (min-width: 768px) {
    --gutter: 32px;
  }

  // Header height
  @media (max-width: 767px) {
    --header-height: 50px;
  }

  @media (min-width: 768px) {
    --header-height: 100px;
  }

  // Transition durations
  --fast: 400ms;
  --slow: 800ms;

  // Fonts
  --font-serif: serif;
  --font-sans-serif: sans-serif;

  // Colors
  --deep-blue-color: #182755;
  --light-blue-color: #DAE8F0;
  --offwhite-color: #f8f7f5;
  --white-color: #FFF;
  --primary-brand-color: var(--deep-blue-color);
  --secondary-brand-color: var(--light-blue-color);
  --font-color: var(--deep-blue-color);

  // Sizing
  --page-width: 1360px;
}
